html,
body,
div,
canvas {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #DADADA;
}

body>.grid {
    height: 100%;
    width: 100%;
    position:absolute;
}

.column {
    max-width: 350px;
    z-index:20;
}
.sidebar{
    z-index:20;
}
.margintopfix {
    margin-top:10px !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#register-box,
#forgot-box,
#reset-box,
#userdata-box,
#signout-box {
    display: none;
}

#login-box{
}

#uicontainer {
    position: absolute;
    z-index: 1;
    top:0;
}
#ingamemenu{
    z-index: 20;
}

#my-gui-container,
#symanticui {
    z-index: 10;
    height: 10;
    float: left;
    margin: 10px;
    position:absolute;
    top:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dg.main {
    top: 0;
    display: inline-block;
}

.dg.main .close-button.close-bottom {
    position: static !important;
}


/**/