
@use '../css/Components.scss';

.mp-leaderboard{
	position: absolute;
	top: 56px;
	left: 10px;

	.entry{
		display: flex;
		align-items: center;

		.profile{
			background-size: 88px;
			background-position: 46px 1px;
			width: 25px;
			height: 25px;
		}

		.name{
			margin: 0 5px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-variation-settings: "wght" 600;
			color: #FFF;
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}
	}
}

.mp-hud{
	.content{
		position: absolute;
		left: 50%;
		top: 80px;
		transform: translate(-50%, 0%);

		font-family: 'Montserrat', sans-serif;
		font-size: 26px;
		text-align: center;
		font-variation-settings: "wght" 600;
		color: #FFF;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

		.switch-cam, .return-lobby{
			@extend .base-button;
			margin: 10px 0px;
		}
	}
}
