
@use '../css/Components.scss';

.mp-leaderboard{
	position: absolute;
	top: 56px;
	left: 10px;

	.entry{
		display: flex;
		align-items: center;

		.profile{
			background-size: 88px;
			background-position: 46px 1px;
			width: 25px;
			height: 25px;
		}

		.name{
			margin: 0 5px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-variation-settings: "wght" 600;
			color: #FFF;
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}
	}
}

.mp-hud{
	.content{
		position: absolute;
		left: 50%;
		top: 80px;
		transform: translate(-50%, 0%);

		font-family: 'Montserrat', sans-serif;
		font-size: 26px;
		text-align: center;
		font-variation-settings: "wght" 600;
		color: #FFF;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

		.switch-cam, .return-lobby{
			@extend .base-button;
			margin: 10px 0px;
		}
	}
}

.mp-chat{
	background: rgba(0, 0, 0, 0.0);
	transition: background 0.3s ease-in;

	.chat-area{
		min-height: 40px;
		width: 224px;
		max-height: 200px;
		overflow-x: hidden;
		overflow-y: hidden;
		font-family: "Montserrat", sans-serif;
		font-variation-settings: "wght" 500;
		font-size: 12px;
		padding: 5px;

		color: white;
		text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

		.message{
			margin: 5px 0px;
			.author{
				margin: 0 6px 0 0;
				font-variation-settings: "wght" 700;
				float: left;

				&.admin{
					color: red;
				}
			}
		}
	}
	.input{
		font-family: "Montserrat", sans-serif;
		font-variation-settings: "wght" 500;
		font-size: 12px;
		width: 100%;
		background: var(--main-bg-color);
		border: 2px solid rgba(0,0,0,0.6);
		margin: 0;
		padding: 1px 4px;
		opacity: 0;
		transition: opacity 0.3s ease-in;
	}


	&.active{
		background: rgba(0, 0, 0, 0.6);

		.chat-area{
			overflow-y: auto;
		}

		.input{
			opacity: 1;
		}
	}
}
