:root {
	--main: #eeeeee;
	--back: #ffffff;
	--dark: #dddddd;
	--text: #000000;
	--inpb: #ffffff;
	--subt: #888888;
	--invt: 0;
}
[theme="dark"] {
	--main: #1d1d1d;
	--back: #0f0f0f;
	--dark: #000000;
	--text: #fafafa;
	--inpb: #292929;
	--subt: #7f7f7f;
	--invt: 1;
}
* {
	user-select: none;
}
@font-face {
	font-family: "Montserrat";
	src: url("pageassets/Montserrat-VF.woff2");
	font-variation-settings: "wght" 600;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background-color: var(--main);
}
::-webkit-scrollbar-thumb {
	background-color: var(--text);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--subt);
}
html {
	scrollbar-color: var(--text) var(--main);
  	scrollbar-width: thin;
}
body {
	background: var(--back);
	text-align: center;
	transform-origin: top left;
	overflow-x: hidden;
	margin: -10px 0px 0px 0px;
}
h1, p, span, input, label {
	font-family: "Montserrat";
	color: var(--text);
	margin: 0;
}
label {
	vertical-align: top;
	font-size: 15px;
	margin-top: 10px;
	display: inline-block;
	width: 150px;
}
input[type=text] {
	font-size: 30px;
	background: var(--inpb);
	width: 242px;
	user-select: initial;
}
input[type=color] {
	padding: 0;
	margin: 0;
	width: 250px;
	height: 40px;
}
img {
	pointer-events: none;
}
.button {
	height: 58px;
	border: 2px solid var(--text);
	color: white;
	text-align: center;
	line-height: 38px;
	font-size: 30px;
	font-family: "Montserrat";
	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	margin: 10px auto;
	display: block;
	padding: 8px;
}
a.button {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 8px 5px 0px 5px;
	display: inline-block;
	height: 44px;
	text-decoration: none;
}
.button:hover {
	filter: brightness(1.1);
}
.button:disabled {
	opacity: 0.3;
	pointer-events: none;
}
#logo {
	margin: auto;
	width: min(100vw, 400px);
	filter: drop-shadow(2px 4px #333);
}
.section {
	border: 2px solid var(--dark);
	background-color: var(--main);
	padding-top: 20px;
	margin: 10px 0px 10px 0px;
	padding-bottom: 20px;
	text-align: center;
	border-radius: 10px;
}
.dashboardSection {
	width: 420px;
	min-height: 440px;
	margin: 10px;
	display: inline-block;
	border: 2px solid var(--dark);
	background-color: var(--back);
	border-radius: 10px;
	vertical-align: top;
	padding: 10px;
}
#installedMod {
	cursor: pointer;
}
#installedMod input {
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
}
#currentModThumb {
	width: 400px;
	height: 350px;
	display: inline-block;
	box-shadow: inset 0px -20px #999;
	background-repeat: repeat-x;
	position: relative;
}
#currentModCharacters, #currentModCharactersMobile {
	opacity: 0.1;
	transition: all 0.2s;
	position: absolute;
	top: 3px;
	filter: brightness(0.8) grayscale(1);
	width: 100%;
}
#currentModThumb:hover #currentModCharacters, #currentModCharactersMobile {
	opacity: 1;
	filter: brightness(1) grayscale(0);
}
#currentModThumbCvs {
	overflow: hidden;
}
.currentModCharacterImg {
	width: 100px;
	cursor: pointer;
	display: inline-block;
	pointer-events: all;
}
.currentModCharacterImg:hover {
	filter: brightness(1.2);
}
.currentModCharacterImg img {
	width: 80px;
}
.currentModCharacterImg h1 {
	color: black;
	font-size: 14.5px;
}
.previewModCanvas {
	animation: modpreviewcycle 8s cubic-bezier(.26,-0.01,.01,1.01) infinite 1s;
}
@keyframes modpreviewcycle {
	0%  {transform: translateX(0px);}
	20% {transform: translateX(-400px);}
	40% {transform: translateX(-800px);}
	60% {transform: translateX(-1200px);}
	80% {transform: translateX(-1600px);}
	100%{transform: translateX(0px);}
}
@keyframes cyclethroughcharacters {
	0%  {background-position-x: 0px;}
	20% {background-position-x: -400px;}
	40% {background-position-x: -800px;}
	60% {background-position-x: -1200px;}
	80% {background-position-x: -1600px;}
	100%{background-position-x: -2000px;}
}
#currentMod, #defaultCharacters {
	color: var(--subt);
	color: var(--subt);
}
.singleDefaultCharacter {
	display: inline-block;
	width: 100px;
	cursor: pointer;
}
.singleDefaultCharacterThumb {
	width: 80px;
	background-color: black;
}
.singleDefaultCharacterName {
	font-size: 14.5px;
}
.singleDefaultCharacter:hover .singleDefaultCharacterThumb{
	filter: brightness(1.2);
}
.singleModCanvas {
	border: 4px solid var(--dark);
	margin: 2px;
	background: #D4D4D4;
	box-shadow: inset 0px -15px #999;
	height: 250px;
}
.publicModThumbContainer {
	overflow: hidden;
	width: 240px;
}
.publicModThumbSubContainer {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 210px;
	padding-left: 15px;
	padding-right: 15px;
}
.publicModThumb {
	image-rendering: initial;
	margin-top: 5px;
	width: 210px;
}
.singleModItem {
	display: inline-block;
	transition: box-shadow 0.2s ease-out;
	cursor: pointer;
	border-radius: 5px;
	padding-bottom: 10px;
	margin: 5px;
	width: 250px;
	overflow: hidden;
}
.singleModItem:hover {
	background-color: var(--dark);
}
.singleModItemSelected {
	box-shadow: inset 0px -4px var(--text);
	background-color: var(--dark);
	cursor: default;
	pointer-events: none;
}
.singleModTitle {
	font-size: 30px;
	margin: 5px;
	overflow: hidden;
}
.singleModAuthor {
	font-size: 20px;
	margin: 0px;
	color: var(--subt);
}
#themebutton {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 70px;
	height: 70px;
	cursor: pointer;
	pointer-events: all;
}
#loadingbackground {
	background-color: #00000080;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	transition: opacity 0.1s linear;
	z-index: 20;
}
.fixed {
	transform-origin: top left;
}
#loadingwindow {
	position: fixed;
	width: 500px;
	height: 120px;
	left: calc(50vw - 250px);
	top: calc(50vh - 60px);
	border: 2px solid var(--dark);
	background-color: var(--main);
	text-align: center;
	border-radius: 10px;
	padding: 5px;
}
#loadingbar {
	background-color: black;
	height: 50px;
	width: 450px;
	margin: auto;
}
#loadingbarprogress {
	background-color: var(--subt);
	height: 50px;
	width: 0%;
}
#creatorbackground {
	background-color: #00000080;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	transition: opacity 0.1s linear;
	z-index: 20;
}
#creatorwindow {
	position: fixed;
	width: 500px;
	height: 600px;
	left: calc(50vw - 250px);
	top: calc(50vh - 300px);
	border: 2px solid var(--dark);
	background-color: var(--main);
	text-align: center;
	border-radius: 10px;
	padding: 5px;
}
.createmodoption {
	border: 5px solid var(--dark);
	border-radius: 25px;
	position: relative;
	height: 150px;
	width: calc(100% - 30px);
	margin: 10px;
	background: linear-gradient(135deg, #0007, #0002);
	text-align: left;
	padding-left: 5px;
	cursor: pointer;
	transition: transform 0.15s ease-out;
	display: block;
	text-decoration: none;
	overflow: hidden;
}
.hoveroverlay {
	background-color: #EFE3;
	width: 0px;
	height: 100%;
	transition: width 0.2s ease-in-out;
	position: absolute;
	left: 0px;
	top: 0;
}
.createmodoption:hover .hoveroverlay {
	width: 100%;
}
.createmodicon {
	height: 150px;
	right: 0;
	top: 0;
	position: absolute;
}
.createmodoptiontitle {
	text-shadow: 1px 1px 3px black;
	margin-top: 25px;
	margin-bottom: 5px;
	color: white;
	font-size: 28px;
}
.createmodoptiondescription {
	font-size: 20px;
	color: white;
}
.difficultystars {
	height: 40px;
	background-image: url(pageassets/difficultystar.png);
	background-size: 40px;
	display: inline-block;
}
.difficultystarslabel {
	vertical-align: top;
	color: #DDD;
	margin-top: 8px;
	font-size: 18px;
	display: inline-block;
}
#modwardrobewindow {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0px;
	background: var(--main);
	transition: top 0.4s ease-out, opacity 0.2s linear;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 20;
}
.closebutton {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	background-color: var(--dark);
	transition: background-color 0.2s;
	cursor: pointer;
}
.closebutton:hover {
	background-color: red;
}
.closebuttonx {
	transform: rotateZ(45deg);
	background-color: white;
	width: 2px;
	height: 40px;
	position: absolute;
	left: 24px;
	top: 5px;
}
.modwardrobesection {
	border: 2px solid var(--dark);
	margin: 20px;
	border-radius: 20px;
	animation: appear 0.5s ease-out;
}
@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
	}
}
#modwardrobepreviewcanvas {
	height: 350px;
	width: 400px;
	display: inline-block;
	transition: background-position-x 0.2s ease-out;
	box-shadow: inset 0px -20px #999;;
}
.vehiclePreviewButton {
	display: inline-block;
	vertical-align: top;
	margin-top: 125px;
	cursor: pointer;
	opacity: 0.3;
	transition: opacity 0.2s ease-out;
}
.vehiclePreviewButton:hover {
	opacity: 0.8;
}
.vehiclePreviewButton svg {
	transition: all 0.2s ease-out;
	filter: drop-shadow(0px 0px 0px #FFF2);
}
.vehiclePreviewButton:hover #vehiclePreviewButtonLeft {
	transform: translateX(-20px);
	filter: drop-shadow(10px 0px 0px #FFF2);
}
.vehiclePreviewButton:hover #vehiclePreviewButtonRight {
	transform: translateX(20px);
	filter: drop-shadow(-10px 0px 0px #FFF2);
}
.wardrobeitem {
	border: 2px solid var(--dark);
	pointer-events: all;
	margin: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-out;
	vertical-align: top;
	background-color: #FFF8;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	display: inline-block;
	position: relative;
}
.wardrobeitem:hover {
	transform: scale(1.05);
}
.wardrobeitemimg {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	transform: translate(-50%, -50%);
}
#modwardrobeprevpage {
	transition: color 0.2s ease-out;
	cursor: pointer;
}
#modwardrobeadditionalsettings {
	border: 2px solid var(--dark);
	display: inline-block;
	width: 450px;
}
#doorPreviewContainer {
	position: relative;
	width: 450px;
	height: 50px;
}
.doorPreviewComponent {
	position: absolute;
	left: 0;
	top: 0;
}
#confetti {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}
#pointingarrow {
	animation: squishyarrow 0.4s ease-in-out infinite alternate;
}
#pointingarrowcontainer {
	pointer-events: none;
	transform: translate(100px, -10px) rotateZ(-20deg);
	display: inline-block;
}
#doorPreviewLoadingBar {
	width: 160px;
	height: 8px;
}
@keyframes squishyarrow {
	from {
		transform: scaleX(0.8) translateY(10px);
	}
	to {
		transform: scaleX(1.1) translateY(-10px);
	}
}