html,
body,
div,
canvas {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #DADADA;
}

body>.grid {
    height: 100%;
    width: 100%;
    position:absolute;
}

.column {
    max-width: 350px;
    z-index:20;
}
.fixedmaxwidth{
    max-width: 500px !important;
    padding:0px !important;
}
.fixedmaxwidth .column{
    padding-left:0.5em !important;
    padding-right:0.5em !important;
}
.fixedmaxwidth .segment{
    padding-left:0.1em !important;
    padding-right:0.1em !important;
}

.sidebar{
    z-index:20;
}
.margintopfix {
    margin-top:10px !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#login-box,
#register-box,
#forgot-box,
#reset-box,
#userdata-box,
#signout-box,
#loadlevel-box,
#publishlevel-box {
    display: none;
}

#uicontainer {
    position: absolute;
    z-index: 1;
    top:0;
    height:100%;
    width:100%;
}
#ingamemenu{
    z-index: 20;
}

#my-gui-container,
#symanticui {
    z-index: 10;
    width: 100%;
    float: left;
    margin: 10px;
    position:absolute;
    top:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolgui.main{
    background-color:#666666;
    margin:5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px #000000;
    top:50%;
    transform:translateY(-50%);
}
.toolgui.button{
    width:50px;
    height:50px;
    background-color: #999999;
    margin:5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.toolgui.button:hover{
    background-color:#bebebe
}
.toolgui.button.menu{
    position: absolute;
    margin:0px;
    background-image: url('../../build/assets/images/gui/Icon_Menu.png');
    background-size: contain;
}
.toolgui .dg  li.title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.toolgui .img{
    width:100%;
    height:100%;
    background-position:center center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color:transparent;
}

.scrollBar{
    position: absolute;
    bottom:0px;
    background-color: #999999;;
    border: 1px solid black;
    cursor: pointer;
}
.horizontal.scrollBar{
    left:10%;
    width:80%;
    height:30px;
}
.vertical.scrollBar{
    top:10%;
    right:0%;
    height:80%;
    width:30px;
}
.dragBar{
    position:absolute;
    background-color: #666666;
    background-image: url(../../build/assets/images/gui/DragableBar_Pattern.png);
    background-size: contain;
    border: 1px solid black;
    pointer-events: none;
}
.horizontal .dragBar{
    width:10%;
    height:100%;
    transform:translateX(-50%);
}
.vertical .dragBar{
    width:100%;
    height:10%;
    transform:translateY(-50%);
}


/**/


/* Arrow css*/
.dg .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
}
.dg .closed .arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    margin-top: 8px;
    margin-left: 5px;
}
#mainMenu{
    font-family: 'Lily Script One', cursive;
    position:absolute;
    top:50%;left:50%;
    transform: translate(-50%, -50%);
}
.menuButton{
    font-size: 30px;
    color: white;
    margin: 20px;
    background-color: #FF6600;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 1px rgba(255, 255, 255, 0.60), 0px 0px 0px 3px hsl(0, 0%, 100%);
    user-select: none;
    position: relative;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}
.menuButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    display: block;
    opacity: 0;
    transition: opacity 0.1s;
  }
.menuButton:hover::after {opacity:1;}

#editorButton{
    background-color: #51A328;
}




/* HEADER BAR */

.editorHeader{
    height:50px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color: #999999;
    margin:-10px;
    min-width: 640px;
}
.editorHeader div, .editorHeader span{
    float:left;
    margin:3px;
    margin-top:10px;
    line-height: 30px;
    margin-top: 10px;
}


.buttonOverlay:hover {
    color: #ffffff;
}
.buttonOverlay:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}
.buttonOverlay.dark:hover:before {
    background: rgba(0, 0, 0, 0.2);
}



.editorHeader span, .editorHeader .new, .editorHeader .load, .editorHeader .exit, .editorHeader .headerIcon{
    float:right;
}
.editorHeader .headerIcon{
    background-image: url('../../build/assets/images/gui/Icon_EditLevel.png');
    background-size: contain;
    width:40px;
    height:40px;
    margin-top:5px;
    position:relative;
}
.editorHeader span{
    color: white;
    width: 100px;
    height: 30px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.headerButton{
    width: 70px;
    height:30px;
    margin:5px;
    text-align: center;
    background-color:#666666;
    position:relative;

}
.logoSmall{
    background-image:url('../../build/assets/images/gui/Logo_Small.png');
    width:calc(235px*0.4);
    height:calc(73px*0.4);
    background-size: contain;
    margin-top: 13px !important;
}
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');