html,
body,
div,
canvas {
    margin: 0;
    padding: 0;
    display: block;
}
html{
    box-sizing:border-box;
}

body {
    background-color: #DADADA;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    overflow:hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.dg .closed div:not(.arrow):not(.title), .dg .closed ul div, .dg .closed span, .dg .closed br, .dg .closed textarea, .dg .closed ul div>*{
    height: 0 !important;
    overflow: hidden !important;
    border: 0 !important;
    display:none !important;
}
body>.grid {
    height: 100%;
    width: 100%;
    position:absolute;
}

.column {
    max-width: 350px;
    z-index:20;
}
.fixedmaxwidth{
    max-width: 500px !important;
    padding:0px !important;
}
.fixedmaxwidth .column{
    padding-left:0.5em !important;
    padding-right:0.5em !important;
}
.fixedmaxwidth .segment{
    padding-left:0.1em !important;
    padding-right:0.1em !important;
}

.sidebar{
    z-index:20;
}
.margintopfix {
    margin-top:10px !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}


#uicontainer {
    position: absolute;
    z-index: 1;
    top:0;
    width:100%;
}
#ingamemenu{
    z-index: 20;
}

#my-gui-container,
#symanticui {
    z-index: 10;
    width: 100%;
    float: left;
    margin: 10px;
    position:absolute;
    top:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolgui.main{
    background-color: #666666;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px #000000;
    top: 14vh;
    width: 30px;
    position: absolute;
}
.toolgui.button{
    width:30px;
    height:30px;
    background-color: #999999;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.toolgui.button:hover{
    background-color:#bebebe
}
.toolgui.button.menu{
    position: absolute;
    margin:0px;
    background-image: url('../../build/assets/images/gui/Icon_Menu.png');
    background-size: contain;
}
.toolgui .dg  li.title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.toolgui .img{
    width:100%;
    height:100%;
    background-position:center center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color:transparent;
}
.dg.custom > div, .dg.custom ul > span, .dg.custom textarea, .dg.custom input{
    width:100%;
}

.scrollBar{
    position: absolute;
    bottom:0px;
    background-color: #999999;;
    border: 1px solid black;
    cursor: pointer;
}
.horizontal.scrollBar{
    left:10%;
    width:80%;
    height:20px;
}
.vertical.scrollBar{
    top:10%;
    right:0%;
    height:80%;
    width:20px;
}
.dragBar{
    position:absolute;
    background-color: #666666;
    background-image: url(../../build/assets/images/gui/DragableBar_Pattern.png);
    background-size: contain;
    border: 1px solid black;
    pointer-events: none;
}
.horizontal .dragBar{
    width:10%;
    height:100%;
    transform:translateX(-50%);
}
.vertical .dragBar{
    width:100%;
    height:10%;
    transform:translateY(-50%);
}


/**/


/* Arrow css*/
.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    pointer-events:none;
}
.closed .arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    margin-top: 8px;
    margin-left: 5px;
}
.green.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00FF00;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
}
.closed .green.arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #00FF00;
    margin-top: 8px;
    margin-left: 5px;
}

#mainMenu{
    position:absolute;
    top:50%;left:50%;
    transform: translate(-50%, -50%);
}
.menuButton{
    font-size: 30px;
    color: white;
    margin: 20px;
    background-color: #FF6600;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 1px rgba(255, 255, 255, 0.60), 0px 0px 0px 3px hsl(0, 0%, 100%);
    user-select: none;
    position: relative;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Lily Script One', cursive;
    text-shadow: 2px 2px black;
}
.menuButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    display: block;
    opacity: 0;
    transition: opacity 0.1s;
  }
.menuButton:hover::after {opacity:1;}

#editorButton, #acceptButton{
    background-color: #51A328;
}

#gameOverScreen{
    display: block;
    background-color: #ff0000bd;
    width: 100%;
    height: 100px;
    z-index: 100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#gameOverScreen .gameOverText{
    float: left;
    font-size: 50px;
    font-family: 'Lily Script One', cursive;
    text-shadow: 2px 2px black;
    color: white;
}
#gameOverScreen .textGroup{
    float:left;
    margin-left: 20px;
}
#gameOverScreen .buttonGroup{
    float:right;
    font-size:11px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#gameOverScreen .restart{
    background-color:#E0B300;
}



/* HEADER BAR */

.editorHeader{
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #666666;
    margin: -10px;
    min-width: 640px;
}
.editorHeader div, .editorHeader span{
    float: left;
    margin: 3px;
    line-height: 30px;
    margin-top: 5px;
    font-size: 11px;
}
.editorHeader .profile{
    background-image:url('../../build/assets/images/gui/Profile_Button.png');
    background-size:contain;
}


.buttonOverlay:hover {
    color: #ffffff;
}
.buttonOverlay:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}
.buttonOverlay.dark:hover:before {
    background: rgba(0, 0, 0, 0.2);
}



.editorHeader span, .editorHeader .new, .editorHeader .load, .editorHeader .exit, .editorHeader .headerIcon{
    float:right;
}
.editorHeader .publish, .editorHeader .exit, #levelEditScreen .publish{
    background-color:#FF3300;
}

.editorHeader .save, #levelEditScreen .save{
    background-color:#51A328;
}

.editorHeader .test{
    background-color:#E0B300;
}

.editorHeader .headerIcon{
    background-image: url('../../build/assets/images/gui/Icon_EditLevel.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: relative;
    background-color: #999999;
    border-radius:2px;
    border: black solid 1px;
    cursor: pointer;

}
.editorHeader span{
    color: white;
    width: 100px;
    height: 30px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.headerButton{
    width: 60px;
    height: 30px;
    margin: 5px;
    text-align: center;
    background-color: #999999;
    position: relative;
    border-radius:2px;
    border: black solid 1px;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    line-height: 30px;
}
.logoSmall{
    background-image:url('../../build/assets/images/gui/Logo_Small.png');
    width:calc(235px*0.4);
    height:calc(73px*0.4);
    background-size: contain;
    margin-top: 8px !important;
}
#levelEditScreen #levelThumbnail, #levelEditScreen #youtubeLink {
    width:90px;
    height:67.5px;
    border: 1px solid black;
    margin:5px;
    cursor: pointer;
}
#youtubeFeed{
    display: flex;
    justify-content: center;
    margin: unset;
}

#levelEditScreen .save, #levelEditScreen .publish, #levelEditScreen .saveas, #levelEditScreen .delete{
    float: left;
}
#levelEditScreen .saveas{
    background-color:#FF6600;
}
.text_button:hover {
    color: #04bd04;
}

.text_button {
    color: #00FF00;
    cursor: pointer;
}
.filterBar{
    font-size: 10px;
    width: 100%;
    height: 30px;
    background-color: #1C1C1C;
}

.filterTitle{
    text-align: left;
    display: block;
    margin-left: 20px;
    line-height: 30px;
}
.filterBar .arrow{
    float: left;
    display: block;
    margin: 10px 5px;
}
.filterBar > div{
    display:inline-block;
    float:left;
}
.filterBar .levelNameFilter, .filterBar .levelDateFilter{
    cursor: pointer;
}
.filterBar .levelPlayFilter > span{
    text-align: center;
    margin-left: 0px;
}
.filterBar .levelShare > .filterTitle{
    margin-left: 9px;
}
.filterBar .levelPlay > .filterTitle{
    margin-left: 30px;
}
.listItem{
    height: 70px;
    background-color: #4F4F4F;
    width: 100%;
    display:flex;
}

.listItem .levelNameDiv, .levelDateDiv, .levelSaveDiv, .levelLoadDiv{
    height: 100%;
    padding:5px;
    text-align:center;
    text-align: left;
    display:inline-block;
}
.listItem .levelNameDiv{
    width: 60%;
}
.listItem .levelDateDiv{
    width: 20%;
    line-height: 60px;
}
.listItem .levelSaveDiv, .listItem .levelLoadDiv{
    width: 20%;
}
.listItem .levelSaveDiv .headerButton, .listItem .levelLoadDiv .headerButton{
    margin: auto auto;
    margin-top: 14px;
    background-color:#FF6600;
}
.listItem .levelDateDiv span{
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}
.listItem .itemTitle{
    margin-top: 5px;
    font-size: 12px;
    color: #00FF00;
    height: 14px;
    white-space: nowrap;
}
.listItem .itemDescription{
    margin-top: 0px;
    font-size: 10px;
}
.listItem .levelNameDiv > span{
    width: 60%;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.listItem .thumb{
    width: 80px;
    height: 60px;
    border: 1px solid black;
    float: left;
    margin-right:5px
}

.itemList_ScrollOverlay{
    position: absolute;
    height: 245px;
    width: 378px;
    pointer-events: none;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(79,79,79,0) 0%, rgba(79,79,79,0) 75%, rgba(79,79,79,1) 95%, rgba(79,79,79,1) 100%);
    background: -webkit-linear-gradient(top, rgba(79,79,79,0) 0%,rgba(79,79,79,0) 75%,rgba(79,79,79,1) 95%,rgba(79,79,79,1) 100%);
    background: linear-gradient(to bottom, rgba(79,79,79,0) 0%,rgba(79,79,79,0) 75%,rgba(79,79,79,1) 95%,rgba(79,79,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f4f4f', endColorstr='#4f4f4f',GradientType=0 );
}
#prompt .headerButton{
    display:inline-block;
    margin: 0 10px;
}

.listPlayModeItem{
    height: 70px;
    background-color: #4F4F4F;
    width: 100%;
    display:flex;
    font-size:10px;
}

.listPlayModeItem .levelNameDiv, .levelAuthorDiv, .levelPlaysDiv, .levelRatingsDiv, .levelDateDiv, .levelShareDiv, .levelLoadDiv{
    height: 100%;
    padding:5px;
    text-align:center;
    text-align: left;
    display:inline-block;
}
.listPlayModeItem .levelPlaysDiv span, .listPlayModeItem .levelRatingsDiv span, .listPlayModeItem .levelDateDiv span{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.listPlayModeItem .thumb{
    width: 80px;
    height: 60px;
    border: 1px solid black;
    float: left;
    margin-right:5px
}
.listPlayModeItem .levelNameDiv{
    width:37%;
}
.listPlayModeItem .itemTitle{
    margin-top: 5px;
    font-size: 12px;
    color: #00FF00;
    height: 14px;
    white-space: nowrap;
}
.listPlayModeItem .levelAuthorDiv{
    width:12%;
}
.listPlayModeItem .levelAuthorDiv span{
    font-size: 10px;
    color: #00FF00;
    height: 12px;
    white-space: nowrap;
}
.listPlayModeItem .levelPlaysDiv{
    width:10%;
}
.listPlayModeItem .levelRatingsDiv{
    width:8%;
}
.listPlayModeItem .levelDateDiv{
    width:13%;
}
.listPlayModeItem .levelShareDiv{
    width:7%;
}
.listPlayModeItem .levelLoadDiv{
    width:13%;
}
.listPlayModeItem .levelLoadDiv .menuButton{
    margin-top:10px;
    width: 100%;
    height: 40px;
}
.shareIcon{
    width:30px;
    height:40px;
    background-image: url('../../build/assets/images/gui/Share_Icon.png');
    background-size: contain;
}
.levelShareDiv .shareIcon{
    margin-top: 6px;
}
.thumbsUpIcon{
    width:50px;
    height:50px;
    background-image: url('../../build/assets/images/gui/Thumb_Icon.png');
    background-size: contain;
}
.playButtonTriangleIcon{
    width:25px;
    height:25px;
    background-image: url('../../build/assets/images/gui/PlayButton.png');
    background-size: contain;
    pointer-events: none;
}
.levelLoadDiv .playButtonTriangleIcon{
    margin-left: 24px;
    margin-top: 6px;
}
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-shell{
    position: absolute;
    left: 50%;
    top: 50%;
 }
 .dot-pulse {
    position: relative;
    left: -9999px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    box-shadow: 9999px 0 0 -5px #fff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
    display:flex;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #fff;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
    right:-5px;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #fff;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
    left:-5px;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #fff;
    }
    30% {
      box-shadow: 9984px 0 0 2px #fff;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #fff;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #fff;
    }
    30% {
      box-shadow: 9999px 0 0 2px #fff;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #fff;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #fff;
    }
    30% {
      box-shadow: 10014px 0 0 2px #fff;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #fff;
    }
  }
  @font-face {
    font-family: 'Arapey';
    src: url('./fonts/Arapey-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Economica';
    src: url('./fonts/Economica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'EricaOne';
    src: url('./fonts/EricaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'LilyScriptOne';
    src: url('./fonts/LilyScriptOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Spinnaker';
    src: url('./fonts/Spinnaker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SquadaOne';
    src: url('./fonts/SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Trochut';
    src: url('./fonts/Trochut-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }