html,
body,
div,
canvas {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #DADADA;
}

body>.grid {
    height: 100%;
    width: 100%;
    position:absolute;
}

.column {
    max-width: 350px;
    z-index:20;
}
.fixedmaxwidth{
    max-width: 500px !important;
    padding:0px !important;
}
.fixedmaxwidth .column{
    padding-left:0.5em !important;
    padding-right:0.5em !important;
}
.fixedmaxwidth .segment{
    padding-left:0.1em !important;
    padding-right:0.1em !important;
}

.sidebar{
    z-index:20;
}
.margintopfix {
    margin-top:10px !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#login-box,
#register-box,
#forgot-box,
#reset-box,
#userdata-box,
#signout-box,
#loadlevel-box,
#publishlevel-box {
    display: none;
}

#uicontainer {
    position: absolute;
    z-index: 1;
    top:0;
}
#ingamemenu{
    z-index: 20;
}

#my-gui-container,
#symanticui {
    z-index: 10;
    height: 10;
    float: left;
    margin: 10px;
    position:absolute;
    top:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolgui.main{
    background-color:#666666;
    margin:5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px #000000;
}
.toolgui .button{
    width:50px;
    height:50px;
    background-color: #999999;
    margin:5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.toolgui .button:hover{
    background-color:#bebebe
}
.toolgui .img{
    width:100%;
    height:100%;
    background-position:center center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color:transparent;
}

.scrollBar{
    position: absolute;
    bottom:0px;
    left:10%;
    width:80%;
    height:30px;
    background-color: #999999;;
    border: 1px solid black;
}
.dragBar{
    position:absolute;
    width:10%;
    height:100%;
    background-color: #666666;
    background-image: url(../../build/assets/images/gui/DragableBar_Pattern.png);
    background-size: contain;
    border: 1px solid black;
    transform:translateX(-50%);
}


/**/


/* Arrow css*/
.dg .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
}
.dg .closed .arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    margin-top: 8px;
    margin-left: 5px;
}