html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body{
    overflow:hidden;
    position:fixed;
    top:0;
    bottom: 0;
}

.dg .closed div:not(.arrow):not(.title):not(.deleteIcon),
.dg .closed ul div,
.dg .closed span,
.dg .closed br,
.dg .closed textarea,
.dg .closed ul div>* {
    height: 0 !important;
    overflow: hidden !important;
    border: 0 !important;
    display: none !important;
}

body>.grid {
    height: 100%;
    width: 100%;
    position: absolute;
}

.column {
    max-width: 350px;
    z-index: 20;
}

.fixedmaxwidth {
    max-width: 500px !important;
    padding: 0px !important;
}

.fixedmaxwidth .column {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.fixedmaxwidth .segment {
    padding-left: 0.1em !important;
    padding-right: 0.1em !important;
}

.sidebar {
    z-index: 20;
}

.margintopfix {
    margin-top: 10px !important;
}

body > canvas {
    position: absolute;
    top: 0;
    left: 0;
}


#editor-ui-container {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
}

#custom-gui {
    z-index: 10;
    width: 100%;
    float: left;
    margin: 10px;
    position: absolute;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game-ui-container {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

#game-ui-container>* {
    pointer-events: all;
}

.toolgui.main {
    background-color: #666666;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px #000000;
    top: 14vh;
    width: 30px;
    position: absolute;
}

.toolgui.button {
    width: 30px;
    height: 30px;
    background-color: #999999;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.toolgui.button:hover {
    background-color: #bebebe
}

.toolgui.button.menu {
    position: absolute;
    margin: 0px;
    background-image: url('../../static/assets/images/gui/Icon_Menu.png');
    background-size: contain;
}

.toolgui .dg li.title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toolgui .img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.dg.custom>div,
.dg.custom ul>span,
.dg.custom textarea,
.dg.custom input {
    width: 100%;
}

body .dg .cr.function .property-name {
    background-color: #999;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
    height: 23px;
    color: black;
    line-height: 23px;
}

body .dg .cr.function .property-name:hover {
    background-color: #666;
}

body .dg .cr.function>div {
    padding: 5px;
}

body .dg .cr.function {
    height: 35px;
}

.scrollBar {
    position: absolute;
    bottom: 0px;
    background-color: #474646;
    box-shadow: inset 2px 2px 2px rgba(164, 164, 164, 0.4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    border: 1px solid black;
    cursor: pointer;
}

.horizontal.scrollBar {
    left: 10%;
    width: 80%;
    height: 20px;
}

.vertical.scrollBar {
    top: 10%;
    right: 0%;
    height: 80%;
    width: 20px;
}

.dragBar {
    position: absolute;
    background-color: #c1c1c1;
    background-image: url(../../static/assets/images/gui/DragableBar_Pattern.png);
    background-size: contain;
    border: 1px solid #aba5a5;
    pointer-events: none;
}

.horizontal .dragBar {
    width: 10%;
    height: 100%;
    transform: translateX(-50%);
}

.vertical .dragBar {
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
}


/**/


/* Arrow css*/
.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    margin-top: 10px;
    margin-left: 3px;
    pointer-events: none;
}

.closed .arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    margin-top: 8px;
    margin-left: 5px;
}

.green.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00FF00;
    position: initial;
    margin-top: 10px;
    margin-left: 3px;
}

.closed .green.arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #00FF00;
    margin-top: 8px;
    margin-left: 5px;
}

#versionNumber {
    position: absolute;
    top: 85px;
    right: 8px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s;
}

.menuButton {
    font-size: 30px;
    color: white;
    margin: 20px;
    background-color: #FF6600;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 54px;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 1px rgba(255, 255, 255, 0.60), 0px 0px 0px 3px hsl(0, 0%, 100%);
    user-select: none;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lily Script One', cursive;
    text-shadow: 2px 2px black;
}

.menuButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    display: block;
    opacity: 0;
    transition: opacity 0.1s;
}

.menuButton:hover::after {
    opacity: 1;
}

#mainMenu.disable>.menuButton,
.menuButton.disable {
    pointer-events: none;
    filter: grayscale(1);
}

.menuButton.disable {
    line-height: 40px;
}

.menuButton.disable:before {
    content: 'Only on Desktop';
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
#settings-ui{
    position:absolute;
    z-index: 1;
    right:0;
    top:0;
    margin:10px;
}

#editorButton,
#acceptButton,
.backButton {
    background-color: #51A328;
}

.backButton,
.moreLevels {
    height: 40px;
    line-height: 36px;
    width: 140px;
    font-size: 22px;
    float: left;
    margin: 10px;
}

.sortByButton {
    margin: 10px;
    width: 140px;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
}

/* HEADER BAR */

.editorHeader {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #666666;
    margin: -10px;
    min-width: 640px;
    box-shadow: 0px 2px 0px #000000;
}

.editorHeader div,
.editorHeader span {
    float: left;
    margin: 3px;
    line-height: 30px;
    margin-top: 5px;
    font-size: 11px;
}

.editorHeader .profile {
    background-image: url('../../static/assets/images/gui/Profile_Button.png');
    background-size: contain;
}


.buttonOverlay:hover {
    color: #ffffff;
}

.buttonOverlay:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.buttonOverlay.dark:hover:before {
    background: rgba(0, 0, 0, 0.2);
}



.editorHeader span,
.editorHeader .new,
.editorHeader .load,
.editorHeader .exit,
.editorHeader .headerIcon {
    float: right;
}

.editorHeader .publish,
.editorHeader .exit,
#levelEditScreen .publish {
    background-color: #FF3300;
}

.editorHeader .save,
#levelEditScreen .save {
    background-color: #51A328;
}

.editorHeader .test {
    background-color: #E0B300;
}

.editorHeader .headerIcon {
    background-image: url('../../static/assets/images/gui/Icon_EditLevel.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: relative;
    background-color: #999999;
    border-radius: 2px;
    border: black solid 1px;
    cursor: pointer;

}

.editorHeader span {
    color: white;
    width: 100px;
    height: 30px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerButton {
    height: 30px;
    text-align: center;
    background-color: #999999;
    position: relative;
    border-radius: 2px;
    border: black solid 1px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    line-height: 30px;
    padding: 0px 10px;
    user-select: none;
}

.filterButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;
    width: 140px;
    float: right;
}

.logoSmall {
    background-image: url('../../static/assets/images/gui/Logo_Small.png');
    width: 120px;
    height: 33px;
    margin-top: 4px !important;
}

#levelEditScreen #levelThumbnail {
    width: 90px;
    height: 67.5px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    background: black;
}

#levelEditScreen #levelThumbnailImage {
    width: 100%;
    height: 100%;

}

#levelEditScreen .save,
#levelEditScreen .publish,
#levelEditScreen .saveas,
#levelEditScreen .delete {
    float: left;
    margin: 5px 0px;
    margin-left: 10px;
}

#levelEditScreen .preview{
    float: right;
    margin: 5px 0px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 75px;
}

#levelEditScreen .saveas {
    background-color: #FF6600;
}

.text_button:hover {
    color: #04bd04;
}

.text_button {
    color: #00FF00;
    cursor: pointer;
}

.filterBar {
    font-size: 10px;
    width: 640px;
    height: 30px;
    background-color: #1C1C1C;
    margin-top: -2px;
}

.filterTitle {
    text-align: left;
    display: block;
    margin-left: 20px;
    line-height: 30px;
}

.filterBar .arrow {
    float: left;
    display: block;
    margin: 10px 5px;
}

.filterBar>div {
    display: inline-block;
    float: left;
}

.filterBar .levelNameFilter,
.filterBar .levelDateFilter {
    cursor: pointer;
}

.filterBar .levelPlayFilter>span {
    text-align: center;
    margin-left: 0px;
}

.filterBar .levelShare>.filterTitle {
    margin-left: 9px;
}

.filterBar .levelPlay>.filterTitle {
    margin-left: 30px;
}

.listItem {
    height: 70px;
    background-color: #4F4F4F;
    width: 100%;
    display: flex;
}

.listItem .levelNameDiv,
.levelDateDiv,
.levelSaveDiv,
.levelLoadDiv {
    height: 100%;
    padding: 5px;
    text-align: left;
    display: inline-block;
}

.listItem .levelNameDiv {
    width: 60%;
}

.listItem .levelDateDiv {
    width: 20%;
    line-height: 60px;
}

.listItem .levelSaveDiv,
.listItem .levelLoadDiv {
    width: 20%;
    text-align: center;
}

.listItem .levelSaveDiv .headerButton,
.listItem .levelLoadDiv .headerButton {
    margin: auto;
    margin-top: 14px;
    background-color: #FF6600;
    display: inline-block;
}

.listItem .levelDateDiv span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}

.listItem .itemTitle {
    margin-top: 5px;
    font-size: 12px;
    color: #00FF00;
    height: 14px;
    white-space: nowrap;
}

.listItem .itemDescription {
    margin-top: 0px;
    font-size: 10px;
}

.listItem .levelNameDiv>span {
    width: 60%;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.listItem .thumb {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    float: left;
    margin-right: 5px
}

.listItem #thumbImage {
    width: 100%;
    height: 100%;
    background: black;
}

.itemList_ScrollOverlay {
    position: absolute;
    height: 245px;
    width: 378px;
    pointer-events: none;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(79, 79, 79, 0) 0%, rgba(79, 79, 79, 0) 75%, rgba(79, 79, 79, 1) 95%, rgba(79, 79, 79, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(79, 79, 79, 0) 0%, rgba(79, 79, 79, 0) 75%, rgba(79, 79, 79, 1) 95%, rgba(79, 79, 79, 1) 100%);
    background: linear-gradient(to bottom, rgba(79, 79, 79, 0) 0%, rgba(79, 79, 79, 0) 75%, rgba(79, 79, 79, 1) 95%, rgba(79, 79, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004f4f4f', endColorstr='#4f4f4f', GradientType=0);
}

.itemList {
    width: 640px;
    min-height: 200px;
    max-height: 50vh;
    overflow: auto;
}

.itemList>div:nth-child(even) {
    background-color: #6b6b6b
}

#prompt .headerButton {
    display: inline-block;
    margin: 0 10px;
}

.listPlayModeItem {
    background-color: #4F4F4F;
    width: 100%;
    display: flex;
    font-size: 10px;
}

.listPlayModeItem .levelNameDiv,
.levelAuthorDiv,
.levelPlaysDiv,
.levelRatingsDiv,
.levelDateDiv,
.levelShareDiv,
.levelLoadDiv {
    height: 100%;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.listPlayModeItem .levelPlaysDiv span,
.listPlayModeItem .levelRatingsDiv span,
.listPlayModeItem .levelDateDiv span {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.listPlayModeItem .thumb {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
    background-color: #1C1C1C
}

.listPlayModeItem #thumbImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.listPlayModeItem .levelNameDiv {
    width: 37%;
}

.listPlayModeItem .itemTitle {
    margin-top: 5px;
    font-size: 12px;
    color: #00FF00;
    height: 14px;
    white-space: normal;
}

.listPlayModeItem .levelAuthorDiv {
    width: 12%;
}

.listPlayModeItem .levelAuthorDiv span {
    font-size: 10px;
    color: #00FF00;
    height: 12px;
    white-space: nowrap;
}

.listPlayModeItem .levelPlaysDiv {
    width: 10%;
}

.listPlayModeItem .levelRatingsDiv {
    width: 8%;
}

.listPlayModeItem .levelDateDiv {
    width: 13%;
}

.listPlayModeItem .levelShareDiv {
    width: 7%;
}

.listPlayModeItem .levelLoadDiv {
    width: 13%;
}

.listPlayModeItem .levelLoadDiv .menuButton {
    margin: 10px 0px;
    width: 100%;
    height: 40px;
}

.shareIcon {
    width: 30px;
    height: 40px;
    background-image: url('../../static/assets/images/gui/Share_Icon.png');
    background-size: contain;
}

.levelShareDiv .shareIcon {
    margin-top: 6px;
}

.levelShareDiv {
    cursor: pointer;
}

.levelShareDiv:hover {
    filter: brightness(0.5);
}

.thumbsUpIcon {
    width: 40px;
    height: 38px;
    background-image: url('../../static/assets/images/gui/Thumb_Icon.png');
    background-size: contain;
}

.playButtonTriangleIcon {
    width: 25px;
    height: 25px;
    background-image: url('../../static/assets/images/gui/PlayButton.png');
    background-size: contain;
    pointer-events: none;
}

.levelLoadDiv .playButtonTriangleIcon {
    margin-left: 24px;
    margin-top: 6px;
}
.levelLoadDiv .progressBackFill{
    width: 100%;
    background: #51a328;
    height: 100%;
    border-radius: inherit;
    clip-path: inset(0px 100% 0px 0px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
}

.closeWindowIcon {
    width: 25px;
    height: 25px;
    background-image: url('../../static/assets/images/gui/CloseButton.png');
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 2px;
    max-width: 20px;
    width: 20px;
    height: 20px;
    filter: brightness(100%);
}
.editIcon, .deleteIcon {
    background-image: url('../../static/assets/images/gui/edit-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    float: right;
    margin: 3px;
    cursor: pointer;
}
.editIcon:hover, .deleteIcon:hover{
    filter: brightness(0.5);
}
.deleteIcon {
    background-image: url('../../static/assets/images/gui/thrash-icon.svg');
}

.closeWindowIcon:hover {
    filter: brightness(70%);
}

#levelBanner #levelbanner_levelThumbnail {
    width: 160px;
    height: 120px;
    margin: auto;
    margin-top: 10px;
}

#levelbanner_levelThumbnail #levelbanner_levelThumbnailImage {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.levelbanner_title,
.levelbanner_creator,
#levelbanner_description {
    text-align: center;
}

#levelbanner_description {
    margin-top: 10px;
}

.levelbanner_creatorSpan {
    color: #00FF00;
}

#characterSelect img,
#vehicleSelect img {
    margin: 2px;
    user-select: none;
    cursor: pointer;
}

.ratingHolder {
    display: flex;
    justify-content: center;
}

.ratingHolder .startButton {
    width: 70px;
    margin: 5px;
}

.ratingHolder .upvote {
    background-color: green;
}

.ratingHolder .downvote {
    background-color: red;
}

.ratingHolder .thumbsUpIcon {
    margin: auto;
    margin-top: 8px;
}

.ratingHolder .downvote .thumbsUpIcon {
    transform: scaleY(-1);
}

.ratingHolder .ratingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.ratingText .greenSpan {
    color: #00FF00;
}

.flexButtonWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-shell {
    position: absolute;
    left: 50%;
    top: 50%;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    box-shadow: 9999px 0 0 -5px #fff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
    display: flex;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #fff;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
    right: -5px;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #fff;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
    left: -5px;
}

.hidden {
    visibility: hidden;
}

.fadedHide {
    transition: opacity ease 1s;
    opacity: 0;
    pointer-events: none;
}

.normalButton {
    cursor: pointer;
    filter: brightness(100%);
    border: none;
}

.normalButton:hover {
    filter: brightness(70%);
}

#helpScreen .textWrapper {
    margin: 10px;
}

#helpScreen .textWrapper p {
    margin: 8px 0px;
}

.textWrapper em {
    color: #e0b300;
}

#helpScreen .textWrapper>div {
    font-weight: 100;
    line-height: 16px;
    letter-spacing: .05em;
    font-family: sans-serif;
    color: #e8e8e8;
}

.imageHolder{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.textWrapper li {
    line-height: inherit !important;
    list-style: inside;
    height: unset !important;
    padding: unset !important;
    margin: unset !important;
}

.imageDropDown {
    background: #4F4F4F;
    width: 200px;
    height: 50px;
    overflow: hidden;
    -moz-transition: height 0.1s;
    -webkit-transition: height 0.1s;
    -ms-transition: height 0.1s;
    -o-transition: height 0.1s;
    transition: height 0.1s;
}

.imageDropDown.open {
    height: 200px;
    overflow-y: scroll;
    -moz-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    z-index: 1;
}

.imageDropDown input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.imageDropDown label {
    display: none;
    margin: 0;
    height: 46px;
    opacity: 0.4;
}

.imageDropDown.open label {
    display: block;
}

.imageDropDown label:hover {
    opacity: 0.8;
}

.imageDropDown input:checked+label {
    opacity: 1 !important;
    display: block;
    cursor: pointer;
}

/* *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #FFF;
}

*::-webkit-scrollbar-corner {
    height: 0;
    display: none
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #000;
}
*{
    scrollbar-width: thin;
    scrollbar-color: black white;
} */

.ios-pwa-container {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 24px;
    position: fixed;
    width: 100%;
    z-index: 100000;
    pointer-events: none;
}

.ios-pwa-container.ipad {
    align-items: flex-start;
}

.ios-pwa {
    background: #FFF;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 13%);
    box-sizing: border-box;
    color: #424242;
    font-family: sans-serif;
    width: 320px;
    height: 260px;
    opacity: 0;
    position: relative;
    text-align: center;
    transition: opacity 0.15s, transform 0.15s ease-in-out;
    z-index: 1;
}

.ios-pwa.ipad {
    margin-left: 60vw;
}

.ios-pwa-cross {
    border: 0;
    bottom: 100%;
    display: block;
    height: 16px;
    margin: 0px 14px -22px;
    font-size: 24px;
    position: absolute;
    right: 0;
    width: 16px;
    color: #dedede;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
}

.ios-pwa:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -24px;
    width: 0;
    height: 0;
    border-top: solid 23px #FFF;
    border-left: solid 24px transparent;
    border-right: solid 24px transparent;
}

.ios-pwa.ipad:after {
    content: '';
    position: absolute;
    top: unset;
    bottom: 100%;
    left: 60%;
    margin-top: 1px;
    margin-left: -24px;
    width: 0;
    height: 0;
    border-left: solid 24px transparent;
    border-right: solid 24px transparent;
    border-bottom: solid 23px #FFF;
}

.ios-pwa-icon-container {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F0F0F0' d='M65,17C65,10.377 59.623,5 53,5L17,5C10.377,5 5,10.377 5,17L5,53C5,59.623 10.377,65 17,65L53,65C59.623,65 65,59.623 65,53L65,17Z' /%3E%3C/svg%3E%0A") center center / 70px 70px repeat-x;
    margin: 40px 0 0;
}

.ios-pwa-icon-thumb {
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.ios-pwa-content {
    padding: 10px 20px;
}

.ios-pwa-text {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0px;
}

.ios-pwa-guide {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin-top: 20px;
}

.ios-pwa-guide-icon {
    margin: 0 2px 6px;
    width: 20px;
}

.speech-bubble {
    position: absolute;
    background: #ffffff;
    border-radius: .4em;
    font-size: 14px;
    padding: 10px;
    max-width: 300px;
    margin: 10px;
    filter: drop-shadow(3px 3px 0px black) drop-shadow(-1px -1px 0px black);
    left: 50%;
    top: 50%;
    margin-top: -120px;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}

.speech-bubble:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FFF;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.game-timer{
    position:fixed;
    pointer-events: none;
    bottom:0%;
    left:50%;
    transform: translate(-50%, 0);
    margin:20px;
    font-size: 20px;
}
.game-timer .milliseconds{
    font-size:14px;
}
.game-timer span{
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
    font-weight: bold;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #fff;
    }

    30% {
        box-shadow: 9984px 0 0 2px #fff;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #fff;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #fff;
    }

    30% {
        box-shadow: 9999px 0 0 2px #fff;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #fff;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #fff;
    }

    30% {
        box-shadow: 10014px 0 0 2px #fff;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #fff;
    }
}

/* Fix smaller screens */
@media only screen and (max-width: 640px) and (max-height: 360px) and (orientation: landscape),
only screen and (max-width: 360px) and (max-height: 640px) and (orientation: portrait) {
    .menuButton {
        font-size: 18px;
        width: 122px;
        height: 50px;
        line-height: 40px;
    }
    .thumbsUpIcon {
        width: 30px;
        height: 29px;
    }

    .menuButton.disable:before {
        font-size: 8px;
        top: 16px;
    }

    .menuButton.disable {
        line-height: 36px;
    }
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
    #levelBanner{
        margin-top: -60px;
    }
}
@media only screen and (max-width: 390px){
    #gameOverScreen .buttonGroup {
        top:unset;
        transform:unset;
        flex-direction: row;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

@font-face {
    font-family: 'Arapey';
    src: url('./fonts/Arapey-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Economica';
    src: url('./fonts/Economica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Erica One';
    src: url('./fonts/EricaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lily Script One';
    src: url('./fonts/LilyScriptOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spinnaker';
    src: url('./fonts/Spinnaker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squada One';
    src: url('./fonts/SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trochut';
    src: url('./fonts/Trochut-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



select {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #fff;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #4F4F4F;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2300FFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #4F4F4F 0%,#4F4F4F 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select::-ms-expand {
	display: none;
}
.select:hover {
	border-color: #888;
}
.select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select option {
	font-weight:normal;
}
