@use 'Components';

.characterSelect{
	@extend .main-window;

	.header{
		@extend .jollyfont;
		font-size: 34px;
		color: var(--dark-color);
		font-variation-settings: "wght" 800;
		text-align: center;
	}

	.characters{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.portrait{
			width: 80px;
			height: 80px;
        	background-color: black;
			margin: 5px;
			@extend .simple-button;
		}
		.name{
			@extend .jollyfont;
			font-size: 14px;
			letter-spacing: 1px;
			margin: -7px 0 10px 0;
			text-align: center;
		}
	}
	.back{
		width: 180px;
		margin: 20px auto;
		@extend .back-button;
	}
}
