.simple-button{
	cursor:pointer
}
.simple-button:hover{
	filter:brightness(1.2);
}
.simple-button:active{
	filter:brightness(0.5);
}
.simple-button-shadow{
	cursor:pointer;
	filter:drop-shadow(2px 2px 2px black)
}
.simple-button-shadow:hover{
	filter:brightness(1.2) drop-shadow(2px 2px 2px black)
}
.simple-button-shadow:active{
	filter:brightness(0.5) drop-shadow(2px 2px 2px black)
}
.clean-text-button{
	color: black;
	cursor: pointer;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.base-button{
	@extend .simple-button;
	background-color: #51A328;
	width: 200px;
	height: 38px;
	border-radius: 8px;
	border: 2px solid black;
	box-shadow: inset 0px 2px 1px rgb(255 255 255 / 60%), 0px 0px 0px 1px white, 2px 2px 2px black;
	color: white;
	font-family: "Lily Script One", cursive;
	text-shadow: 1.2px 2px black;
	text-align: center;
	line-height: 38px;
	font-size: 23px;
	text-rendering: geometricPrecision;
	cursor: pointer;
	white-space: nowrap;
}

.back-button{
	margin: 5px;
	height: 52px;
	font-size: 36px;
	line-height: 48px;
	background-color: #7B7B7B;

	@extend .base-button;
}

.inactive{
	filter:brightness(0.2);
	pointer-events: none !important;
}

.main-window{
	border-radius: 4px;
    border: 2px solid black;
    box-shadow: 2px 2px 0px black;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	background-color: #666666;
	transform: translate(-50%, -50%);

	.bar{
		height: 20px;
		width: 100%;
		background-color: #4F4F4F;
		background-image: url(../../static/assets/images/gui/DragableBar_Pattern.png);
		border-bottom: 1px solid black;
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		.close{
			position: absolute;
			width: 21px;
			height: 21px;
			right: 0;
			top: 0;
			margin: -1px -1px 0 0;
			background-color: red;
			border: 1px solid black;
			border-radius: 4px;
			&:after{
				content: "✕";
				margin: 0 0px 0px 6px;
				vertical-align: middle;
				font-size: 10px;
			}
			@extend .simple-button;
		}
	}
}

.jollyfont{
	color: white;
	font-family: "Lily Script One", cursive;
    text-shadow: 1.2px 2px black;
}


.vote-buttons{
	display: flex;
	margin-left: auto;

	.vote-thumb{
		background-image: url(../../static/assets/images/gui/Thumb.png);
		width: 36px;
		height: 36px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
		margin-right: 3px;
		
	}
	.vote-up{
		.vote-thumb{
			filter: drop-shadow(2px 1px 0px black);

			&.voted{
				animation: .3s ease-in 1 forwards vote-up-anim;
			}
		}
	}
	.vote-down{
		background-color: #FF0000;
		.vote-thumb{
			transform: scale(-1);
			filter: drop-shadow(-2px -1px 0px black);

			&.voted{
				animation: .3s ease-in 1 forwards vote-down-anim;
			}
		}
	}


	.button{
		width: 88px;
		height: 52px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 10px;
		&.disabled{
			filter: brightness(0.2);
		}
		@extend .base-button;
	}
}

.save-button{
	text-align: center;
	.heart-icon{
		width: 38px;
		height: 36px;
		margin: 0 auto 9px auto;
		background-image: url(../../static/assets/images/gui/Heart_Icon.png);
	}
	&.disabled{
		filter: grayscale(1);
	}
	&.faved{
		.heart-icon{
			animation: .8s ease-in 1 forwards faved-anim;
		}
	}
	@extend .simple-button;
}
.share-button{
	text-align: center;
	.share-icon{
		width: 30px;
		height: 40px;
		margin: 0 auto 5px auto;
		background-image: url(../../static/assets/images/gui/Share_Icon.png);
	}
	@extend .simple-button;
}

.leaderboard-entries{
	color: white;
	font-weight: 500;
	font-size: 12px;

	.header-bar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 10px;
		margin: 10px 0px;
		.text-header{
			@extend .jollyfont;
			font-size: 20px;
			margin-top: 4px;
			width: 260px;
		}
		.viewall{
			width: 75px;
			height: 24px;
			font-size: 14px;
			line-height: 24px;
			@extend .base-button
		}
	}
	.entries{
		display:flex;
		flex-direction: column;
		margin: 10px;
		.entry-info{
			height: 42px;
			line-height: 42px;
			border-top: 1px dashed #333333;
			border-bottom: 1px dashed #333333;
		}
		.entry{
			display: flex;
			justify-content: space-between;
			padding: 5px;
			border-top: 1px solid #333333;
			height: 42px;
			align-items: center;

			.position{
				display: flex;
				align-items: center;
				width: 72px;
				.profile{
					width: 38px;
					height: 38px;
					background-size: cover;
				}
				.text-position{
					margin: 0 0 0 2px;
				}
			}

			.text-player-name{
				color: #00FF00;
				width: 112px;
				@extend .clean-text-button;
			}

			.time{
				display:flex;
				align-items: baseline;
				.text-time-label{
					margin: 0 5px 0 0;
				}
				.text-time, .text-time-mili{
					color: #00FF00;
				}
				.text-time-mili{
					font-size: 9px;
					margin: 0 0 0 2px;
				}
			}
			&:last-child{
				border-bottom: 1px solid #333333;
			}
			&.me{
				background-color: #7b7b7b;
			}
		}

		&.offcharts{
			.entry{
				&:last-child{
					border-top: 1px dashed #333333;
					border-bottom: 1px dashed #333333;
				}
			}
		}
	}
}

.country-select{
	position: absolute;
	bottom: 0px;
	right:0px;
	margin:5px;

	.selectflag{
		font-size: 22px;
	}

	.flag{
		text-shadow: 2px 2px black;
		@extend .simple-button;
	}

	.flags{
		display: none;
		width: 136px;
		flex-wrap: wrap;
		gap: 5px;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 999;
		background: #333333;
		border: 2px solid black;
		padding: 10px;
		.flag{
			font-size: 30px
		}
		&.open{
			display: flex;
		}
	}
}


@keyframes vote-up-anim{
	0%, 100%{
		transform: unset;
	}
	50%{
		transform: translate(0px, -19px) rotate(45deg) scale(1.3);
	}
}
@keyframes vote-down-anim{
	0%, 100%{
		transform: scale(-1);
	}
	50%{
		transform: translate(0px, 19px) rotate(45deg) scale(-1.3)
	}
}

@keyframes faved-anim{
	0%, 80%, 100%
	{
	transform: scale( 1 );
	}
	20%
	{
	transform: scale( .75 );
	}
	40%
	{
	transform: scale( 1 );
	}
	60%
	{
	transform: scale( .75 );
	}
}
