/*
* A custom white theme for dat.gui by @liabru
* http://brm.io/
* License: MIT
*/

body .dg .c,
body .dg .cr.function,
body .dg .c select,
body .dg .property-name,
body .dg .title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .dg .c, body .dg .property-name{
    width:50%;
}


body .dg.main.taller-than-window .close-button {
    border-top: 1px solid #4F4F4F;
}

body .dg.main .close-button {
    background-color: #4F4F4F;
}
 
body .dg.main .close-button:hover {
    background-color: #4F4F4F;
}

body .dg {
    color: #FFF;
    text-shadow: none !important;
    font: bold 12px Arial !important;
}
body .dg.main{
    background-color: #666666;
    overflow-x: hidden;
    overflow-y: auto;
}

body .dg.main::-webkit-scrollbar {
    background: #FFF;
}

body .dg.main::-webkit-scrollbar-thumb {
    background: #000;
}
 
body .dg li:not(.folder) {
    background: #666666;
    border-bottom: 1px solid #666666;
}
 
body .dg li.save-row .button {
    text-shadow: none !important;
}

body .dg li.title {
    margin-left:0px;
    background-color: #4F4F4F;
    background-image: url(../../static/assets/images/gui/DragableBar_Pattern.png);
    background-size: contain;
}

.dg .closed li.title{
    background-color: #4F4F4F;
    background-image: url(../../static/assets/images/gui/DragableBar_Pattern.png);
    background-size: contain;
}

body .dg li.folder {
    border-left: 0;
}

body .dg .cr.function:hover,
body .dg .cr.boolean:hover {
    background: #4F4F4F;
}
 
body .dg .c input[type=text] {
    background: #666666;
}
 
body .dg .c input[type=text]:hover {
    background: #707070;
}
 
body .dg .c input[type=text]:focus {
    background: #585858;
    color: #555;
}
 
body .dg .c .slider {
    background: #4F4F4F;
}

body .dg .c .slider:hover {
    background: #4F4F4F;
}

body .dg.a {
    margin-right: 9px;
    margin-top: 9px;
}

body .dg .cr.function {

    background: #4F4F4F;
}
body .dg .cr.function .property-name{
    width:100%;
    text-align:center;
}

body .dg .cr.function:hover {
    background: rgb(61, 61, 61);
    border-bottom: 1px solid #2fa1d6;
}

body .dg .cr.function:active {
    background: #4F4F4F;
    border-bottom: 1px solid #2fa1d6;
}

.dg .cr input{
    font: bold 12px Arial !important;
}

.dg .cr.number input[type=text] {
    color:#00FFFF;
}
.dg .cr.number input[type=text]:focus {
    color:#FFF;
}
.dg .cr.string input[type=text]{
    color:#00FFFF;
}
.dg .cr.string input[type=text]:focus{
    color:#FFF;
}
.dg .c .slider-fg{
    background-color:#00FFFF;
}
.dg .c .slider:hover .slider-fg{
    background-color:rgb(2, 170, 170);
}
.dg.main .close-button.close-bottom{
    display:none;
}
.dg.main{
    overflow:visible;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 0px #000000;
    max-height:90vh;
    overflow:auto;
}
.dg.main {
    top: 0;
    display: inline-block;
}

.dg.main .close-button.close-bottom {
    position: static !important;
} 
.dg .cr{
    border-left: 0px solid !important;
}
