@use 'Components';

.discordJoin{
	@extend .main-window;

	.header{
		@extend .jollyfont;
		font-size: 40px;
		text-align: center;
	}

	.billyDiscord{
		width: 200px;
		height: 140px;
		background-size: contain;
		margin: auto;
	}

	.content{
		text-align: center;
		color: #fff;
		padding: 10px;
	}

	.discordButton{
		@extend .simple-button;
		width: 200px;
		height: 71px;
		background-size: contain;
		margin: auto;
		display: block;
	}

	.back{
		width: 180px;
		margin: 10px auto;
		@extend .back-button;
	}
}
