@use 'WinScreen';

.gameover{
	@extend .winscreen;
	opacity: 0;
	transition: opacity 0.5s ease-in;

	.bar{
		background-image: url(../../static/assets/images/gui/BarGameOver.png);
		width: 100%;
		height: 218px;
	}
	.sun{
		background-image: url(../../static/assets/images/gui/Moon_Big.png);
	}

	.header{
		color: #ff0000;
	}

	.time{
		.text-time, .text-time-mili{
			color: white;
		}
	}

	&.editor{
		.buttons{
			.reset, .retry, .test{
				display: block;
			}
		}

	}
}
