@use 'Components';

.leaderboard{
	@extend .main-window;
	.header{
		@extend .jollyfont;
		font-size: 34px;
		font-variation-settings: "wght" 800;
		color: #333333;
		text-align: center;
	}

	.leaderboard-bar{
		@extend .leaderboard-entries;
		display: flex;
		flex-direction: column;
		max-height: 60vh;
		.entries{
			overflow-y: auto;
		}
	}
	.nav-buttons{
		display: flex;
		padding: 5px;
		justify-content: center;
		.back{
			@extend .back-button;
		}
	}
}
