.levelbanner{
	.bar{
		height: 10px;
		width: 100%;
		background-color: #4F4F4F;
		background-image: url(../../static/assets/images/gui/DragableBar_Pattern.png);
	}
	.level-info{
		display: flex;
		padding: 10px;
		.thumb{
			border: 4px solid black;
    		background-size: contain;
			min-width: 190px;
			height: calc(190px * 0.75);
		}
		.text-holder{
			margin: 0px 5px;
			font-size: 12px;
			color: white;
			margin-top: -3px;
			.text-level-name{
				font-weight: 500;
			}
			.level-author{
				display: flex;
				.text-level-by{
					font-weight: 200;
				}
				.text-author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
		}
		.description-holder{
			font-size: 11px;
			max-height: 77px;
			overflow-y: auto;
			margin-top: 5px;
			.description{
				font-weight: 400;
				letter-spacing: 1px;
				font-style: italic;
				text-rendering: geometricPrecision;
			}
		}
		.tags{
			display: flex;
			font-size: 9px;
			margin: 2px 0 0 0;
			color: #00FF00;
		}
		.level-published{
			display: flex;
			margin-top: 5px;
    		font-weight: bold;
			.text-date{
				color: #00FF00;
				margin-left: 5px;
			}
		}
	}
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	background-color: #666666;
	transform: translate(-50%, -50%);
}
