@use 'Components';

.levelbanner{
	@extend .main-window;

	.level-info{
		display: flex;
		padding: 10px;
		.thumb{
			border: 4px solid black;
    		background-size: contain;
			min-width: 190px;
			height: calc(190px * 0.75);
			background-size: cover;
		}
		.text-holder{
			margin: 0px 10px;
			font-size: 12px;
			color: black;
			margin-top: -3px;
			.text-level-name{
				font-size: 16px;
				font-family: "Montserrat", sans-serif;
				font-variation-settings: "wght" 800;
			}
			.level-author{
				display: flex;
				font-size: 14px;
				.text-author{
					@extend .clean-text-button;
					color: #1F9891;
					margin: 1px 0 0 2px;
				}
			}
		}
		.description-holder{
			font-size: 11px;
			height: 88px;
			overflow-y: auto;
			margin-top: 5px;
			.description{
				font-weight: 400;
				text-rendering: geometricPrecision;
				overflow-wrap: anywhere;
			}
		}
		.tags{
			display: flex;
			font-size: 9px;
			margin: 2px 0 0 0;
			color: #1F9891;
		}
		.level-published{
			display: flex;
			margin-top: 5px;
			font-size: 10px;
			align-items: center;
			.text-date-published, .text-date-updated{
				color: #1F9891;
				margin-left: 5px;
				white-space: nowrap;
			}
			.text-updated{
				margin-left: 5px;
			}
			&.no-update{
				.text-date-updated, .text-updated{
					display: none;
				}
			}
		}
	}
	.social-bar{
		color: black;
		display: flex;
		font-size: 12px;
		text-align: center;
		.share{
			margin: 0 10px 0 20px;
			@extend .share-button;
		}
		.save{
			margin-left: 10px;
			@extend .save-button;
		}
		.voting{
			@extend .vote-buttons;
		}
	}
	.gameinfo-bar{
		display: flex;
		justify-content: flex-end;
		color: black;
		font-size: 10px;
		margin: 0px 10px;
		gap: 10px;
		.gameplays, .votes{
			display: flex;
			gap: 2px;
		}
		.gameplays-text, .votes-text{
			color: #1F9891
		}
	}
	.leaderboard-bar{
		@extend .leaderboard-entries
	}
	.nav-buttons{
		display: flex;
		padding: 5px;
		justify-content: center;
		.back{
			@extend .back-button;
		}
		.play{
			@extend .back-button;
			background-color: #1F9891;
			position: relative;
			min-width: 148px;
			.progress{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 4px;
				background-color: #FFFFFF;
				display:none;
			}
			&.loading{
				.progress{
					display:block;
				}
			}
		}
	}
}

.jollyvideo{
	padding: 0px 10px;
	.jollyvideo-logo{
		background-image: url(../../static/assets/images/gui/JollyTVLogo.png);
		background-size: contain;
		width: 84px;
		height: 22px;
		margin-bottom: 5px;
	}
	.videos{
		display: flex;
	    flex-wrap: wrap;
		gap: 20px;

		.video{
			width: 112px;
			height: 63px;
			border: 2px solid black;
			background-size: contain;
			position: relative;
			cursor: pointer;
			.play-button{
				position: absolute;
				background-color: transparent;
				width: 40%;
				border: none;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				pointer-events: none;
				opacity: 0.8;
			}

			&:hover{
				.play-button{
					path.play{
						fill: red;
					}
					opacity: 1.0;
				}
			}
		}
	}
}

@media only screen and (max-width: 650px) and (min-width: 620px) and (min-height: 350px){
	.levelbanner{
		&.showAds{
			margin-left: 130px;
		}
	}
}

.helpButton{
	&.faved{
		animation: .8s ease-in 1 forwards faved-anim;
	}
}

.adContainer{
	.jr1{
		// width: 160px;
		// height: 600px;
		top: 50%;
		right: 0;
		transform: translate(0%, -50%);
	}
	.jr2{
		// width: 300px;
		// height: 250px;
		top: 50%;
		left: 0;
		transform: translate(0%, -50%);
	}
	.jr3{
		// width: 728px;
		// height: 90px;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.jr3{
		// width: 728px;
		// height: 90px;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.jr4{
		// width: 320px;
		// height: 50px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.jr1, .jr2, .jr3, .jr4{
		position: fixed;
		margin: 0px 20px;
	}
	.jr3, .jr4{
		margin: 20px 0px;
	}
}
