@use 'Components';

.levelbanner{
	@extend .main-window;

	.level-info{
		display: flex;
		padding: 10px;
		.thumb{
			border: 4px solid black;
    		background-size: contain;
			min-width: 190px;
			height: calc(190px * 0.75);
			background-size: cover;
		}
		.text-holder{
			margin: 0px 5px;
			font-size: 12px;
			color: white;
			margin-top: -3px;
			.text-level-name{
				font-weight: 500;
			}
			.level-author{
				display: flex;
				.text-level-by{
					font-weight: 200;
				}
				.text-author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
		}
		.description-holder{
			font-size: 11px;
			height: 78px;
			overflow-y: auto;
			margin-top: 5px;
			.description{
				font-weight: 400;
				letter-spacing: 1px;
				font-style: italic;
				text-rendering: geometricPrecision;
			}
		}
		.tags{
			display: flex;
			font-size: 9px;
			margin: 2px 0 0 0;
			color: #00FF00;
		}
		.level-published{
			display: flex;
			margin-top: 5px;
    		font-weight: bold;
			.text-date{
				color: #00FF00;
				margin-left: 5px;
			}
		}
	}
	.social-bar{
		color: white;
		display: flex;
		font-size: 12px;
		text-align: center;
		.share-button{
			margin: 0 10px 0 20px;
			.share-icon{
				width: 30px;
    			height: 40px;
				margin-bottom: 5px;
				background-image: url(../../static/assets/images/gui/Share_Icon.png);
			}
			@extend .simple-button;
		}
		.save-button{
			margin-left: 10px;
			.heart-icon{
				width: 38px;
    			height: 36px;
				margin-bottom: 9px;
				background-image: url(../../static/assets/images/gui/Heart_Icon.png);
			}
			&.disabled{
				filter: grayscale(1);
			}
			@extend .simple-button;
		}
		.vote-buttons{
			display: flex;
			margin-left: auto;

			.vote-thumb{
				background-image: url(../../static/assets/images/gui/Thumb.png);
				width: 36px;
				height: 36px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50%;
				margin-right: 3px;
			}
			.vote-up{
				.vote-thumb{
					filter: drop-shadow(2px 1px 0px black);
				}
			}
			.vote-down{
				background-color: #FF0000;
				.vote-thumb{
					transform: scaleX(-1) scaleY(-1);
					filter: drop-shadow(-2px -1px 0px black);
				}
			}


			.button{
				width: 88px;
				height: 52px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0px 10px;
				@extend .base-button;
			}
		}
	}
	.nav-buttons{
		display: flex;
		padding: 5px;
		.back{
			@extend .back-button;
		}
		.play{
			@extend .back-button;
			background-color: #51A328;
			position: relative;
			.progress{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				background-color: #51A328;
				clip-path: inset(0px 180px 0px 0px);
				box-shadow: inset 0px 2px 1px rgb(255 255 255 / 60%), 0px 0px 0px 1px white;
				display:none;
			}
			&.loading{
				.progress{
					display:block;
				}
			}
		}
	}
}
