@use 'Components';

.levelbanner{
	@extend .main-window;

	.level-info{
		display: flex;
		padding: 10px;
		.thumb{
			border: 4px solid black;
    		background-size: contain;
			min-width: 190px;
			height: calc(190px * 0.75);
			background-size: cover;
		}
		.text-holder{
			margin: 0px 5px;
			font-size: 12px;
			color: white;
			margin-top: -3px;
			.text-level-name{
				font-weight: 500;
			}
			.level-author{
				display: flex;
				.text-level-by{
					font-weight: 200;
				}
				.text-author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
		}
		.description-holder{
			font-size: 11px;
			height: 78px;
			overflow-y: auto;
			margin-top: 5px;
			.description{
				font-weight: 400;
				letter-spacing: 1px;
				font-style: italic;
				text-rendering: geometricPrecision;
			}
		}
		.tags{
			display: flex;
			font-size: 9px;
			margin: 2px 0 0 0;
			color: #00FF00;
		}
		.level-published{
			display: flex;
			margin-top: 5px;
    		font-weight: bold;
			font-size: 10px;
			align-items: center;
			.text-date-published, .text-date-updated{
				color: #00FF00;
				margin-left: 5px;
				white-space: nowrap;
			}
			.text-updated{
				margin-left: 5px;
			}
			&.no-update{
				.text-date-updated, .text-updated{
					display: none;
				}
			}
		}
	}
	.social-bar{
		color: white;
		display: flex;
		font-size: 12px;
		text-align: center;
		.share{
			margin: 0 10px 0 20px;
			@extend .share-button;
		}
		.save{
			margin-left: 10px;
			@extend .save-button;
		}
		.voting{
			@extend .vote-buttons;
		}
	}
	.gameinfo-bar{
		display: flex;
		justify-content: flex-end;
		color: white;
		font-size: 10px;
		margin: 0px 10px;
		gap: 10px;
		font-weight: bold;
		.gameplays, .votes{
			display: flex;
			gap: 2px;
		}
		.gameplays-text, .votes-text{
			color: #00FF00
		}
	}
	.leaderboard-bar{
		@extend .leaderboard-entries
	}
	.jollyvideo{
		padding: 0px 10px;
		.jollyvideo-logo{
			background-image: url(../../static/assets/images/gui/JollyTVLogo.png);
			background-size: contain;
			width: 84px;
			height: 22px;
			margin-bottom: 5px;
		}
		.videos{
			display: flex;
			gap: 20px;

			.video{
				width: 112px;
				height: 63px;
				border: 2px solid black;
				background-size: contain;
				position: relative;
				cursor: pointer;
				.play-button{
					position: absolute;
					background-color: transparent;
					width: 50%;
					border: none;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					pointer-events: none;
					opacity: 0.8;
				}

				&:hover{
					.play-button{
						path.play{
							fill: red;
						}
						opacity: 1.0;
					}
				}
			}
		}
	}
	.nav-buttons{
		display: flex;
		padding: 5px;
		.back{
			@extend .back-button;
		}
		.play{
			@extend .back-button;
			background-color: #51A328;
			position: relative;
			.progress{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				background-color: #51A328;
				clip-path: inset(0px 180px 0px 0px);
				box-shadow: inset 0px 2px 1px rgb(255 255 255 / 60%), 0px 0px 0px 1px white;
				display:none;
			}
			&.loading{
				.progress{
					display:block;
				}
			}
		}
	}
}
