@use 'Components';

.lobby{
	@extend .main-window;
	position: unset;
    transform: unset;
    margin: auto;

	.title{
		@extend .jollyfont;
		font-size: 34px;
		font-variation-settings: "wght" 800;
		color: var(--dark-color);
		text-align: center;
	}
	.level-info{
		display: flex;
		padding: 10px;
		justify-content: center;

		.thumb{
			border: 4px solid black;
			background-size: contain;
			min-width: 190px;
			height: calc(190px * 0.75);
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--dark-color);

			.selectBut{
				@extend .base-button;
				width: fit-content;
				height: fit-content;
			}
		}

		.text-holder{
			&.select{
				display: none;
			}
			margin: 0px 10px;
			font-size: 12px;
			color: black;
			margin-top: -3px;
			.text-level-name{
				font-size: 16px;
				font-family: "Montserrat", sans-serif;
				font-variation-settings: "wght" 800;
			}
			.level-author{
				display: flex;
				font-size: 14px;
				.text-author{
					@extend .clean-text-button;
					color: #1F9891;
					margin: 1px 0 0 2px;
				}
			}
		}
		.description-holder{
			font-size: 11px;
			height: 88px;
			overflow-y: auto;
			margin-top: 5px;
			.description{
				font-weight: 400;
				text-rendering: geometricPrecision;
				overflow-wrap: anywhere;
			}
		}
		.tags{
			display: flex;
			font-size: 9px;
			margin: 2px 0 0 0;
			color: #1F9891;
		}
		.level-published{
			display: flex;
			margin-top: 5px;
			font-size: 10px;
			align-items: center;
			.text-date-published, .text-date-updated{
				color: #1F9891;
				margin-left: 5px;
				white-space: nowrap;
			}
			.text-updated{
				margin-left: 5px;
			}
			&.no-update{
				.text-date-updated, .text-updated{
					display: none;
				}
			}
		}
	}

	.player-list{
		@extend .leaderboard-entries;

		.players-title{
			color: var(--dark-color);
			margin: 0 10px;
			font-size: 16px;
			font-family: "Montserrat", sans-serif;
			font-variation-settings: "wght" 800;
		}

		.player-status{
			.waiting{
				color: var(--gray-color);
			}
		}

		.kick-but{
			@extend .back-button;
			font-size: inherit;
		}

		.entries{
			position: relative;
			z-index: 0;
		}
	}

	.nav-buttons{
		display: flex;
		gap: 5px;
		justify-content: center;
		.leave-but{
			@extend .back-button;
		}

		.ready-but, .start-but{
			@extend .base-button;
			background-color: #1F9891;
			color: white;
		}

		.ready-but, .leave-but, .start-but{
			font-size: 20px;
			height: fit-content;
			margin: 0;
		}
	}
}
