//https://www.shadertoy.com/view/MtcGD7

.mainmenu{
	width: 100%;
	height: 100%;
	background-color: #E7B98A;
	.header{
		height: 70px;
		background-image: url(../../static/assets/images/gui/BG_Air.png);
		.logo{
			width: 260px;
			height: 73px;
			background-image: url(../../static/assets/images/gui/JollyWorld_Logo_Medium.png);
			margin: 6px 20px;
			position: absolute;
			z-index: 1;
		}
		.clouds{
			height: 51px;
			width: 460px;
			top: 0;
			position: absolute;
			background-image: url(../../static/assets/images/gui/BG_Clouds.png);
		}
		.sun{
			width: 63px;
			height: 63px;
			margin-left: 420px;
			background-image: url(../../static/assets/images/gui/Sun_Small.png);
		}
		.grass1{
			height: 28px;
			width: 100%;
			background-image: url(../../static/assets/images/gui/BG_Grass1.png);
			position: absolute;
			left: 0px;
			top: 0;
			margin: 43px 0 0 80px;
		}
		.grass2{
			height: 36px;
			width: 100%;
			background-image: url(../../static/assets/images/gui/BG_Grass2.png);
			position: absolute;
			left: 0px;
			top: 0;
			margin: 60px 0 0 280px;
		}
	}

	.games-scroll{
		height: calc(100vh - 188px);
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 14px;
		margin-right: 24px
	}
	.games{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
		grid-gap: 10px;
		padding: 0px 44px 0px 14px;
    	width: 100%;
	}
	.game-scroll-block{
		background: linear-gradient(0deg, #e7b98a 25%, rgba(231, 185, 138, 0) 70%);
		height: 80px;
		width: 100%;
		position: absolute;
		bottom: 84px;
		pointer-events: none;
	}
	.filters{
		position: absolute;
		z-index: 1;
		display: flex;
		bottom: 60px;
		margin-left: 8px;
		.button{
			width: 116px !important;
			margin-left: 8px;
			@extend .base-button;
		}
		.featured-filter{
			position: relative;
			width: 146px !important;
			padding-left: 24px;
			.check{
				width: 38px;
				position: absolute;
				top: -4px;
				left: 6px;
			}
			&:not(.checked){
				svg g{
					display:none;
				}
			}
		}
		.best-filter, .mostplayed-filter{
			font-size: 18px !important;
		}
		.date-filter{
			width: 44px !important;
			.date-filters{
				position: absolute;
				bottom: 100%;
				left: 0;
				margin: 10px 0px;
				height: 0px;
				transition: height 0.3s ease-in;
				overflow: hidden;
				will-change: height;
				.button{
					margin-top: 10px;
				}
			}
			&.open{
				.date-filters{
					height: 200px;
				}
			}
		}
		.other-filters{
			display: flex;
		}
		.button{
			&:not(.checked){
				filter: brightness(0.5);
			}
		}
	}
}

.base-button{
	background-color: #51A328;
	width: 200px;
	height: 38px;
	border-radius: 8px;
	border: 2px solid black;
	box-shadow: inset 0px 2px 1px rgb(255 255 255 / 60%), 0px 0px 0px 1px white;
	color: white;
	font-family: "Lily Script One", cursive;
	text-shadow: 1.2px 2px black;
	text-align: center;
	line-height: 38px;
	font-size: 23px;
	text-rendering: geometricPrecision;
	cursor: pointer;
}

.game{
	padding: 5px;
	background-color: #333333;
	width: 210px;
	height: 210px;
	margin: auto;
	box-shadow: 2px 2px 2px black;
	opacity:0;

	&.loaded{
		display: block;
		animation: 0.3s ease-in opacityFade forwards;
	}

	.thumb{
		width: 200px;
		height: 150px;
		//background-image: url(https://static.jollyworld.app/7a0f1b8d79725b137f743b7c3fede3e3.png);
		background-color:gray;
		border: 2px solid black;
		border-bottom-width: 4px;
		border-left-width: 3px;
	}

	.footer{
		width: 100%;
		margin: 5px 0 0 0;
		display: flex;
		.text-holder{
			width: 65%;
			height: 100%;
			font-size: 12px;
			color: white;
			margin-left: 2px;
			.text-level-name{
				font-weight: 500;
			}
			.level-author{
				display: flex;
				.text-level-by{
					font-weight: 200;
				}
				.text-author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
			.tags{
				display: flex;
				font-size: 9px;
				margin: 2px 0 0 0;
				color: #00FF00;
			}
		}
		.rating{
			width: 32%;
			height: 100%;
			display: flex;
			font-size: 15px;
			font-family: Arial;
			font-weight: bold;
			justify-content: center;
			align-items: center;
			margin-left: 4px;
			margin-top: 2px;

			@extend .base-button;
			.vote-thumb{
				background-image: url(../../static/assets/images/gui/Thumb_Icon.png);
				width: 30px;
				height: 30px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50%;
			}
		}
	}
}

@keyframes opacityFade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
