:root{
	--cellSize: 112px;
}

.mainmenu{
	width: 100vw;
	height: 100vh;
	background: url(../../static/assets/images/gui/BG_Repeat.png);
	background-color: #ffffff;

	.header{
		width: 100%;
		height: 20vmin;
		padding: 5px;

		.logo{
			position: relative;
			height: 100%;
			max-width: 366px;
			margin: auto;
			width: auto;
			background-position: center;
		}
	}
	.h1{
		width: var(--cellSize);
	}
	.h2{
		width: calc(var(--cellSize) * 2);
	}
	.v1{
		height: var(--cellSize);
	}
	.v2{
		height: calc(var(--cellSize) * 2);
	}
	.menu-grid{
		display: flex;
		flex-wrap: wrap;
		margin: auto;


		.singleplayer-but{
			background: #F9B61F;
		}
		.editor-but{
			background: #43F07C;
		}
		.discord-but{
			background: #7586D6;
		}
		.characters-but{
			background: #F64F60;
		}

		.singleplayer-but, .editor-but, .discord-but, .characters-but{
			display: flex;
			justify-content: center;
			align-items: end;
			font-family: 'Montserrat', sans-serif;
			font-variation-settings: "wght" 600;
			cursor: pointer;

			&.h1{
				font-size: 20px;
			}
			&.h2{
				font-size: 32px;
			}
		}
	}
}
