.mainmenu{
	width: 100vw;
	height: 100vh;
	background: url(../../static/assets/images/gui/BG_Repeat.png);
	background-color: #ffffff;

	.header{
		width: 100%;
		height: 30%;

		.logo{
			position: relative;
			height: 100%;
			max-width: 50vw;
			margin: auto;
			width: auto;
		}
	}
}
