.mainmenu{
	width:100%;
	height:100%;
	background-color: #E7B98A;

	.logo{
		width: 260px;
		padding-top: 73px;
		background-image: url(../../static/assets/images/gui/JollyWorld_Logo_Medium.png);
	}
	.games{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
		grid-gap: 10px;
	}
}

.game{
	padding:5px;
	background-color: #333333;
	width:210px;
	height:210px;

	.thumb{
		width:200px;
		height:150px;
		background-image: url(https://static.jollyworld.app/7a0f1b8d79725b137f743b7c3fede3e3.png);
		border: 2px solid black;
		border-bottom-width: 4px;
		border-left-width: 3px;
	}

	.footer{
		width:100%;
		margin: 5px 0 0 0;
		.text_holder{
			width:65%;
			height:100%;
			font-size: 12px;
			color: white;
			margin-left: 2px;
			.text_level_name{
				font-weight: 500;
			}
			.level_author{
				display: flex;
				.text_level_by{
					font-weight: 200;
				}
				.text_author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
			.tags{
				display: flex;
				font-size: 9px;
				margin: 2px 0 0 0;
				color: #00FF00;
			}
		}
		.rating{
			width:35%;
			height:100%;
		}
	}
}

