@use 'Components';

:root{
	--cellSize: min(16vmax, 40vmin);
	--cellGap: 18px;
}

.mainmenu{
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	background: url(../../static/assets/images/gui/BG_Repeat.png);
	background-color: #ffffff;

	.header{
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 20vmin;
		min-height: 68px;
		padding: 10px;

		.logo{
			position: relative;
			height: 100%;
			max-width: 366px;
			background-position: center;
			z-index: 0;
		}

		.settings, .audio{
			@extend .simple-button;
			width: 44px;
			height: 44px;
		}

		.settings{
			background: url(../../static/assets/images/gui/Settings_Icon.svg) no-repeat;
		}

		.audio{
			background: url(../../static/assets/images/gui/SoundOn_Icon.svg) no-repeat;

			&.disabled{
				background: url(../../static/assets/images/gui/SoundOff_Icon.svg) no-repeat;
			}
		}
	}
	.h1{
		width: var(--cellSize);
	}
	.h2{
		width: calc((var(--cellSize) * 2) + var(--cellGap));
	}
	.v1{
		height: var(--cellSize);
	}
	.v2{
		height: calc((var(--cellSize) * 2) + var(--cellGap));
	}
	.menu-grid{
		display: grid;
		grid-template-columns: repeat(auto-fit, var(--cellSize));
		grid-template-rows: repeat(auto-fit, var(--cellSize));
		min-width: calc((var(--cellSize) * 2) + (var(--cellGap) * 1));
		gap: var(--cellGap);
		margin: auto;
		justify-content: center;
		min-height: 66vh;

		.singleplayer-but{
			grid-column: auto / span 2;
			grid-row: auto / span 1;
			background: #6ec8e4;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/gui/single-player.png) no-repeat;
				background-size: contain;
				background-position-y: bottom;
				width: 100%;
				height: 110%;
				pointer-events: none;
			}
		}
		.multiplayer-but{
			grid-column: auto / span 2;
			grid-row: auto / span 1;
			background: #6ec8e4;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/gui/single-player.png) no-repeat;
				background-size: contain;
				background-position-y: bottom;
				width: 100%;
				height: 110%;
				pointer-events: none;
			}
		}
		.editor-but{
			grid-column: auto / span 2;
			background: #43F07C;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/gui/editor.svg) no-repeat;
				background-size: contain;
				width: 100%;
				height: 100%;
				pointer-events: none;
			}
		}
		.discord-but{
			background: #7586D6;
			position: relative;

			&.loggedIn{
				&:after{
					animation: 1s wiggle ease 1;
				}
			}

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/misc/discord-icon.svg) no-repeat;
				background-size: 66%;
				background-position: center 26%;
				width: 100%;
				height: 100%;
			}

			span{
				margin-bottom: 10px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				text-transform: capitalize;
			}
		}
		.characters-but{
			background: #F64F60;
			position: relative;

			.character-image{
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/portraits/characterselect1.png) no-repeat;
				background-size: cover;
				width: 100%;
				height: 116%;
				pointer-events: none;
			}
		}

		.singleplayer-but, .editor-but, .discord-but, .characters-but, .multiplayer-but{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			font-family: 'Montserrat', sans-serif;
			font-variation-settings: "wght" 600;
			cursor: pointer;
			outline: 4px solid var(--dark-color);

			&.h1{
				font-size: min(2.2vmax, 4vmin);
			}
			&.h2{
				font-size: min(3.6vmax, 6vmin);
			}

			span{
				z-index: 1;
				margin-bottom: 10px;
			}
			transform: scale(1);
		}
	}
}


@keyframes wiggle {
	0% {
	  transform: rotate(-3deg);
	}
	20% {
	  transform: rotate(20deg);
	}
	40% {
	  transform: rotate(-15deg);
	}
	60% {
	  transform: rotate(5deg);
	}
	90% {
	  transform: rotate(-1deg);
	}
	100% {
	  transform: rotate(0);
	}
}
