//https://www.shadertoy.com/view/MtcGD7
@use 'Components';

.mainmenu{
	width: 100vw;
	height: 100vh;
	background-color: #E7B98A;

	&.inactive{
		filter: brightness(0.2);
		pointer-events: none !important;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background: #00000001;
			position: absolute;
			top: 0;
			pointer-events: all;
			cursor: pointer;
		}
	}

	.header{
		height: 70px;
		.logo{
			width: 260px;
			height: 68px;
			margin: 6px 20px;
		}
		.search-filter{
			margin: auto 20px auto auto;
			position: absolute;
			right: 0;
			.search-icon{
				background-image: url(../../static/assets/images/gui/SearchIcon.png);
				width: 42px;
				height: 35px;
				position: absolute;
				right: -21px;
				margin: 0 4px;
				transform: translate(-50%, 2px);
				pointer-events: none;
				cursor: pointer;
			}

			input{
				height: 38px;
				border-radius: 8px;
				padding: 0 10px;
				max-width: 132px;
				transition: width 0.2s ease-in;
				&:focus{
					max-width: 300px;
					width: 300px;
				}
			}
		}

		.buttons{

			div{
				margin: 0px 5px;
			}

			position: absolute;
			top: 0;
			right: 0;
			margin: 8px 20px;
			display: flex;
			.discord{
				background-color: #7586D6;
				width: 148px;
				height: 54px;
				font-size: 36px;
				line-height: 54px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				padding: 0px 10px;
				font-size: 26px;
				@extend .base-button;
			}
			.character-select{
				width: 54px;
				height: 54px;
				border-radius: 0;
				background-size: contain;
				position:relative;
				@extend .base-button;
				.text-change{
					width: 80px;
					top: 30px;
					left: -18px;
					font-size: 17px;
					position: absolute;
				}
			}
			.editor{
				width: 124px;
				height: 54px;
				font-size: 36px;
				line-height: 54px;
				.availablepc {
					display:none;
				}
				&.mobile{
					line-height: 34px !important;
					filter: grayscale(1);

					.availablepc{
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-size: 12px;
						margin-top: 14px;
					}

					.h2{
						line-height: inherit !important;
					}
				}
				@extend .base-button;
			}
			.volume{
				width: 68px;
				height: 55px;
				background-repeat: no-repeat;
				background-image: url(../../static/assets/images/gui/Volume_Icon.svg);
				&.disabled{
					filter:brightness(0.4) drop-shadow(2px 2px 2px black);
				}
				@extend .simple-button-shadow;
			}
			.settings{
				width: 61px;
				height: 60px;
				background-repeat: no-repeat;
				background-image: url(../../static/assets/images/gui/Settings_Icon.svg);
				@extend .simple-button-shadow;
			}
		}
	}

	.games-scroll{
		height: calc(100vh - 188px);
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 14px;
		margin-right: 14px
	}
	.games{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
		grid-gap: 10px;
		padding: 0px 44px 0px 14px;
    	width: 100%;
		margin: 10px 0 100px 0;
	}

	.page-footer{
		position: absolute;
		bottom: 0px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4px 0px;
		.text{
			display: flex;
			font-size: 12px;
			white-space: nowrap;
			a{
				margin:0px 4px;
				@extend .clean-text-button;
			}
		}
		.social-channels{
			display: flex;
			& > a{
				margin: 2px 2px;
				border-radius: 4px;
				@extend .simple-button;
			}
			.jolly-discord{
				width: 72px;
				height: 24px;
				background-image: url(../../static/assets/images/misc/discord.svg)
			}
			.jolly-youtube, .jolly-facebook{
				width: 24px;
				height: 24px;
				background-color: white;
				background-image: url(../../static/assets/images/misc/youtube-icon.svg)
			}
			.jolly-facebook{
				background-image: url(../../static/assets/images/misc/facebook-icon.svg);
			}
			.powered-by-poki{
				width: 108px;
				height: 20px;
				margin-top: 4px;
				background-image: url(../../static/assets/images/gui/powered-by-poki.png);
			}
		}
		.country{
			@extend .country-select;
			margin: 2px 6px;
		}
	}
}

.game{
	padding: 5px;
	background-color: #333333;
	width: 210px;
	height: 210px;
	margin: auto;
	box-shadow: 2px 2px 2px black;
	opacity:0;
	cursor: pointer;
	position: relative;

	&:hover{
		background: #5d5d5d;
	}

	&.loaded{
		display: block;
		animation: 0.3s ease-in opacityFade forwards;
	}

	.vehicle-label{
		position: absolute;
		width: 32px;
		height: 32px;
		top: -6px;
		left: 16px;
		border-radius: 6px;
		background-color: white;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 88%;
		box-shadow: inset 0px -2px 0px #0000003b;
		border: 3px solid #343434;
	}

	.thumb{
		width: 200px;
		height: 150px;
		background-color:gray;
		border: 2px solid black;
		border-bottom-width: 4px;
		border-left-width: 3px;
		background-color: black;
		background-size: cover;
	}

	.footer{
		width: 100%;
		margin: 5px 0 0 0;
		display: flex;
		.text-holder{
			width: 65%;
			height: 100%;
			font-size: 12px;
			color: white;
			margin-left: 2px;
			.text-level-name{
				font-weight: 500;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.level-author{
				display: flex;
				.text-level-by{
					font-weight: 200;
				}
				.text-author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
			.tags{
				display: flex;
				font-size: 9px;
				margin: 2px 0 0 0;
				color: #00FF00;

				.tag{
					margin: 0px 1px;
				}
			}
		}
		.rating{
			width: 32%;
			height: 100%;
			display: flex;
			font-size: 15px;
			font-family: Arial;
			font-weight: bold;
			justify-content: center;
			align-items: center;
			margin-left: 4px;
			margin-top: 2px;
			pointer-events: none;

			@extend .base-button;
			.vote-thumb{
				background-image: url(../../static/assets/images/gui/Thumb.png);
				width: 30px;
				height: 30px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50%;
				transform: scaleX(-1);
				filter: drop-shadow(-2px 1px 0px black);
				margin-right: 3px;
			}

			&.unknown{
				background-color: #7B7B7B;
			}
			&.low{
				background-color: #FF0000;
				.vote-thumb{
					transform: scaleX(-1) scaleY(-1);
				}
			}
			&.ok{
				background-color: #FF6600;
			}
		}
	}
}

@keyframes opacityFade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}



// MOBILE
.mainmenu{
	&.mobile{
		.games-scroll{
			margin-right: 0px;
		}
		.games{
			padding: 0;
		}

		.search-filter{
			.search-icon{
				right: -29px;
				margin: 0 4px;
				transform: translate(-50%, 2px) scale(0.6);
			}
			input{
				max-width: 38px;
			}
		}
	}
}

// compact game tiles
@media only screen and (max-width: 860px){
	.mainmenu{
		.games{
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			grid-gap: 10px 0px;
		}
		.page-footer{
			.text{
				font-size: 8px;
				button{
					margin:0px;
				}
			}
		}
	}
	.game{
		width: 150px;
		height: 150px;

		.thumb{
			width: 140px;
			height: 93px;
		}
		.footer{
			height:40px;
		}
	}
}

// fold header
@media only screen and (max-width: 860px){
	.mainmenu{
		.header{
			height: 50px;

			.logo{
				width: 188px;
				height: 52px;
			}

			.buttons{
				transform: scale(0.6);
				transform-origin: top right;
			}
		}
		.games-scroll{
			height: calc(100vh - 164px);
		}
		.filters{
			.more{
				display: block;
			}
			.other-filters{
				flex-direction: column-reverse;
				justify-content: flex-end;
				position: absolute;
				right: 0;
				bottom: 100%;
				margin: 10px 0px;
				overflow: hidden;
				height: 0;
				transition: height 0.2s ease-in;
				will-change: height;
				.button {
					margin-top : 10px
				}

				&.open{
					height: 200px;
				}
			}
		}
	}
}

@media screen and (max-width:540px){
	.mainmenu{
		.header{
			.buttons{
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-end;
				z-index: 2;
				margin: 64px 8px 0 0;
				width: 300px;
				display: none;

				.editor, .discord{
					order: 2;
				}
				& > div{
					margin-bottom: 10px;
				}

				&.open{
					display: flex;
				}
			}
		}
	}
}
