@use 'Components';

:root{
	--cellSize: max(20vmax, 89px);
	--cellGap: 18px;
}

.mainmenu{
	width: 100vw;
	height: 100vh;
	background: url(../../static/assets/images/gui/BG_Repeat.png);
	background-color: #ffffff;

	.header{
		width: 100%;
		height: 20vmin;
		padding: 10px;

		.logo{
			position: relative;
			height: 100%;
			max-width: 366px;
			margin: auto;
			width: auto;
			background-position: center;
		}

		.settings, .audio{
			@extend .simple-button;
			width: 44px;
			height: 44px;
			position: absolute;
			top:0;
			margin: 10px;
		}

		.settings{
			left:0;
			background: url(../../static/assets/images/gui/Settings_Icon.svg) no-repeat;
		}

		.audio{
			right: 0;
			background: url(../../static/assets/images/gui/SoundOn_Icon.svg) no-repeat;

			&.disabled{
				background: url(../../static/assets/images/gui/SoundOff_Icon.svg) no-repeat;
			}
		}
	}
	.h1{
		width: var(--cellSize);
	}
	.h2{
		width: calc((var(--cellSize) * 2) + var(--cellGap));
	}
	.v1{
		height: var(--cellSize);
	}
	.v2{
		height: calc((var(--cellSize) * 2) + var(--cellGap));
	}
	.menu-grid{
		display: grid;
		grid-template-columns: repeat(auto-fit, var(--cellSize));
		grid-template-rows: repeat(auto-fit, var(--cellSize));
		min-width: calc((var(--cellSize) * 2) + (var(--cellGap) * 1));
		max-width: calc((var(--cellSize) * 4) + (var(--cellGap) * 3));
		gap: var(--cellGap);
		margin: auto;
		justify-content: center;

		.singleplayer-but{
			grid-column: auto / span 2;
			grid-row: auto / span 2;
			background: #6ec8e4;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/gui/single-player.png) no-repeat;
				background-size: contain;
				background-position-y: bottom;
				width: 100%;
				height: 110%;
			}
		}
		.editor-but{
			grid-column: auto / span 2;
			background: #43F07C;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/gui/editor.png) no-repeat;
				background-size: contain;
				width: 100%;
				height: 100%;
			}
		}
		.discord-but{
			background: #7586D6;
			position: relative;

			&.loggedIn{
				&:after{
					animation: 1s wiggle ease 1;
				}
			}

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/misc/discord-icon.svg) no-repeat;
				background-size: 66%;
				background-position: center 26%;
				width: 100%;
				height: 100%;
			}

			span{
				margin-bottom: 10px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				text-transform: capitalize;
			}
		}
		.characters-but{
			background: #F64F60;
			position: relative;

			.character-image{
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../../static/assets/images/portraits/character_select1.png) no-repeat;
				background-size: cover;
				width: 100%;
				height: 116%;
			}
		}

		.singleplayer-but, .editor-but, .discord-but, .characters-but{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			font-family: 'Montserrat', sans-serif;
			font-variation-settings: "wght" 600;
			cursor: pointer;
			outline: 4px solid var(--dark-color);

			&.h1{
				font-size: 16px;
			}
			&.h2{
				font-size: 28px;
			}

			span{
				z-index: 1;
				margin-bottom: 10px;
			}
			transform: scale(1);
			&:hover{
				transform: scale(1.04);
			}
		}
	}
}


@keyframes wiggle {
	0% {
	  transform: rotate(-3deg);
	}
	20% {
	  transform: rotate(20deg);
	}
	40% {
	  transform: rotate(-15deg);
	}
	60% {
	  transform: rotate(5deg);
	}
	90% {
	  transform: rotate(-1deg);
	}
	100% {
	  transform: rotate(0);
	}
}


@media only screen and (max-width: 546px){
	.mainmenu{
		.menu-grid{
			max-width: calc((var(--cellSize) * 2) + (var(--cellGap) * 1));
		}
	}
}
