//https://www.shadertoy.com/view/MtcGD7
@use 'Components';

.mainmenu{
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;

	&.inactive{
		filter: brightness(0.2);
		pointer-events: none !important;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background: #00000001;
			position: absolute;
			top: 0;
			pointer-events: all;
			cursor: pointer;
		}
	}

	.header{
		height: 62px;
		.logo{
			width: 260px;
			height: 52px;
			position: absolute;
			margin: 10px;
			top:0;
			left:0;
		}
		.buttons{
			position: absolute;
			top:0;
			right:0;
			display: flex;
			align-items: center;
			gap: 4px;
			margin: 10px;
			.search-filter{
				position: relative;
				.search-icon{
					background: url(../../static/assets/images/gui/SearchIcon.png) no-repeat;
					width: 42px;
					height: 38px;
					position: absolute;
					right: -21px;
					margin: 0 4px;
					transform: translate(-50%, 2px);
					pointer-events: none;
					cursor: pointer;
				}

				input{
					height: 38px;
					padding: 0 10px;
					max-width: 132px;
					transition: width 0.2s ease-in;
					border: 2px solid #333333;
					&:focus{
						max-width: 300px;
						width: 300px;
					}
				}
			}

			.exit, .filters{
				@extend .base-button;
			}
		}
	}

	.games-scroll{
		height: calc(100vh - 140px);
		overflow-x: hidden;
		overflow-y: auto;
		margin-right: 14px
	}
	.games{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
		grid-gap: 10px;
		padding: 0px 44px 0px 14px;
    	width: 100%;
		margin: 10px 0 100px 0;
	}

	.page-footer{
		position: absolute;
		bottom: 0px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4px 0px;
		.text{
			display: flex;
			font-size: 12px;
			white-space: nowrap;
			a{
				margin:0px 4px;
				@extend .clean-text-button;
			}
		}
		.social-channels{
			display: flex;
			& > a{
				margin: 2px 2px;
				border-radius: 4px;
				@extend .simple-button;
			}
			.jolly-discord{
				width: 72px;
				height: 24px;
				background-image: url(../../static/assets/images/misc/discord.svg)
			}
			.jolly-youtube, .jolly-facebook{
				width: 24px;
				height: 24px;
				background-color: white;
				background-image: url(../../static/assets/images/misc/youtube-icon.svg)
			}
			.jolly-facebook{
				background-image: url(../../static/assets/images/misc/facebook-icon.svg);
			}
			.powered-by-poki{
				width: 108px;
				height: 20px;
				margin-top: 4px;
				background-image: url(../../static/assets/images/gui/powered-by-poki.png);
			}
		}
		.country{
			@extend .country-select;
			margin: 2px 6px;
		}
	}
}

.game{
	padding: 5px;
	background-color: #333333;
	width: 210px;
	height: 210px;
	margin: auto;
	box-shadow: 2px 2px 2px black;
	opacity:0;
	cursor: pointer;
	position: relative;

	&:hover{
		background: #5d5d5d;
	}

	&.loaded{
		display: block;
		animation: 0.3s ease-in opacityFade forwards;
	}

	.vehicle-label{
		position: absolute;
		width: 32px;
		height: 32px;
		top: -6px;
		left: 16px;
		border-radius: 6px;
		background-color: white;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 88%;
		box-shadow: inset 0px -2px 0px #0000003b;
		border: 3px solid #343434;
	}

	.thumb{
		width: 200px;
		height: 150px;
		background-color:gray;
		border: 2px solid black;
		border-bottom-width: 4px;
		border-left-width: 3px;
		background-color: black;
		background-size: cover;
	}

	.footer{
		width: 100%;
		margin: 5px 0 0 0;
		display: flex;
		.text-holder{
			width: 65%;
			height: 100%;
			font-size: 12px;
			color: white;
			margin-left: 2px;
			.text-level-name{
				font-weight: 500;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.level-author{
				display: flex;
				.text-level-by{
					font-weight: 200;
				}
				.text-author{
					color: #00FF00;
					margin: 1px 0 0 2px;
				}
			}
			.tags{
				display: flex;
				font-size: 9px;
				margin: 2px 0 0 0;
				color: #00FF00;

				.tag{
					margin: 0px 1px;
				}
			}
		}
		.rating{
			width: 32%;
			height: 100%;
			display: flex;
			font-size: 15px;
			font-family: Arial;
			font-weight: bold;
			justify-content: center;
			align-items: center;
			margin-left: 4px;
			margin-top: 2px;
			pointer-events: none;

			@extend .base-button;
			.vote-thumb{
				background-image: url(../../static/assets/images/gui/Thumb.png);
				width: 30px;
				height: 30px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50%;
				transform: scaleX(-1);
				filter: drop-shadow(-2px 1px 0px black);
				margin-right: 3px;
			}

			&.unknown{
				background-color: #7B7B7B;
			}
			&.low{
				background-color: #FF0000;
				.vote-thumb{
					transform: scaleX(-1) scaleY(-1);
				}
			}
			&.ok{
				background-color: #FF6600;
			}
		}
	}
}

@keyframes opacityFade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}



// MOBILE
.mainmenu{
	&.mobile{
	}
}

// compact game tiles
@media only screen and (max-width: 860px){
	.mainmenu{
		.games{
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			grid-gap: 10px 0px;
		}
		.page-footer{
			.text{
				font-size: 8px;
				button{
					margin:0px;
				}
			}
		}
	}
	.game{
		width: 150px;
		height: 150px;

		.thumb{
			width: 140px;
			height: 93px;
		}
		.footer{
			height:40px;
		}
	}
}
