@use 'Components';

.pausescreen{
	@extend .main-window;
	color: black;
	font-size: 12px;
	.header{
		@extend .jollyfont;
		font-size: 34px;
		color: var(--dark-color);
		font-variation-settings: "wght" 800;
		text-align: center;
	}
	.share{
		position:absolute;
		top: 30px;
    	left: 10px;
		@extend .share-button;
	}
	.save{
		position: absolute;
		top: 30px;
		right: 10px;
		@extend .save-button;
	}
	.text-level-name{
		margin: auto;
		text-align: center;
		color: black;
		font-size: 16px;
		font-family: "Montserrat", sans-serif;
		font-variation-settings: "wght" 800;
	}
	.level-author{
		display: flex;
		justify-content: center;
		color: black;
		font-size: 11px;

		.text-author{
			color: var(--secondary-bg-color);
			margin: 1px 0 0 2px;
		}
	}
	.vote-bar{
		justify-content: center;
		display: flex;
		margin: 20px;

		.voting{
			margin:auto;
			@extend .vote-buttons;
		}
	}

	.buttons{
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
		padding: 10px;
		.reset, .retry, .exit, .resume{
			margin: 0;
			@extend .back-button;
		}
		.reset, .retry{
			background-color: var(--gray-color);
		}
		.resume{
			background-color: var(--secondary-bg-color);
		}
		.exit{
			background-color: var(--negative-button);
		}
	}
}
