@use 'Components';

.settingsmenu{
	@extend .main-window;
	.header{
		@extend .jollyfont;
		font-size: 40px;
		text-align: center;
	}

	.buttons{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px;
		.music, .gore, .fullscreen{
			width: auto;
			padding: 0px 20px;
			display: flex;
			justify-content: center;
			.choice{
				margin-left: 4px;
				&.on{
					color: #00FF00
				}
				&.off{
					color: #FF0000
				}
			}
			@extend .back-button
		}
		.fullscreen{
			@extend .back-button
		}
		.back{
			@extend .back-button
		}
	}
}
