@use 'Components';

.settingsmenu{
	@extend .main-window;
	.header{
		@extend .jollyfont;
		font-size: 40px;
		text-align: center;
	}

	.buttons{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px;
		.fullscreen{
			@extend .back-button
		}
		.back{
			@extend .back-button
		}
	}
}
