@use 'Components';

.settingsmenu{
	@extend .main-window;
	.header{
		@extend .jollyfont;
		font-size: 40px;
		text-align: center;
	}

	.buttons{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 10px;

		.music, .blood, .gore, .fullscreen{
			height: 36px;
			width: auto;
			padding: 0px 20px;
			display: flex;
			justify-content: center;
			white-space: nowrap;
			max-width: 90%;
			.choice{
				margin-left: 4px;
				&.on{
					color: #00FF00
				}
				&.off{
					color: #FF0000
				}
			}
			div.fit{
				display: flex;

			}
			@extend .back-button
		}
		.back, .consent, .credits{
			@extend .back-button;
			width: unset;
			min-width: 100px;
			height: 36px;
		}
		.country{
			@extend .country-select;
		}
	}
}
