@use 'Components';

.settingsmenu{
	@extend .main-window;
	.header{
		@extend .jollyfont;
		font-size: 34px;
		font-variation-settings: "wght" 800;
		color: #333333;
		text-align: center;
	}

	.buttons{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 10px;

		.music, .blood, .gore, .fullscreen{
			background-color: var(--main-bg-color);
			color: var(--default-text-color);
			display: flex;
			justify-content: center;
			white-space: nowrap;
			.choice{
				margin-left: 4px;
				&.on{
					color: var(--secondary-bg-color);
				}
				&.off{
					color: var(--negative-button);
				}
			}
			div.fit{
				display: flex;

			}
			@extend .back-button
		}
		.back, .consent, .credits, .install{
			@extend .back-button;
			background-color: var(--main-bg-color);
			color: var(--default-text-color);
			display: flex;
			justify-content: center;
		}
		.modContainer{
			width: 100%;
			display: flex;
			justify-content: space-evenly;
		}
		.mod{
			width: 60%;
			justify-content: center;
			display: flex;
			background: var(--gray-color);
			white-space: nowrap;
			margin: 5px;
			align-items: center;
			border: 2px solid var(--dark-color);
			div{
				overflow: hidden;
    			text-overflow: ellipsis;
				margin-left: 4px;
			}
		}
		.install{
			max-width: 136px;
			background: var(--secondary-bg-color);
			color: var(--alt-text-color);
		}
		.credits, .install{
			text-decoration: none;
		}
		.back{
			margin: 0 40%;
			margin-top: 5px;
		}
		.country{
			@extend .country-select;
			margin: 5px;
		}
	}
}
