@media screen and (max-width: 860px) {
	.characterSelect, .pausescreen, .levelbanner, .discordJoin{
		transform: translate(-50%, -50%) scale(0.7);
	}
}

@media screen and (max-width: 650px) {
	.characterSelect, .pausescreen, .levelbanner, .discordJoin{
		transform: translate(-50%, -50%) scale(0.5);
	}
}
