.tooltip{
    position: absolute;
    display: block;
    left: 0;
    color:white;
    background-color: black;
    z-index: 9999;
    transform: translate(-50%, -50%);
    padding:2px;
}
.tooltip > span {
    margin:2px;
    white-space: nowrap;
}
