@use 'Components';

.userPage{
	@extend .main-window;
	width: 80%;
	color:var(--default-text-color);
	padding: 10px;
	max-height: 80vh;
    overflow-y: auto;
	z-index: 1;

	.value{
		font-size: 12px;
		color: var(--secondary-bg-color);
		margin: 0 5px 0 2px;
	}

	.header{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		.userinfo{
			.username{
				color: var(--secondary-bg-color);
				font-size: 36px;
				margin-right: 10px;
			}
			.membersince{
				font-size: 12px;
			}

		}
		.flair{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			font-size: 12px;
		}
	}

	.titlebar{
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0;
		.toggletitle{
			@extend .jollyfont;
			font-size: 24px;
			font-variation-settings: "wght" 600;
		}
		.togglebuttons{
			display: flex;
			gap: 10px;
			margin-left: auto;
		}
		.games, .favorites{
			@extend .base-button;
			font-size: 14px;

			&:not(.checked){
				filter: brightness(0.5);
			}
		}

	}

	.games-scroll{
		height: 50vh;
		overflow-x: hidden;
		overflow-y: auto;
		border: 2px solid var(--dark-color);
		box-sizing: content-box;

	}

	.gamesholder{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
		grid-gap: 10px;
		padding: 0px 44px 0px 14px;
    	width: 100%;
		margin: 10px 0 100px 0;
	}

	.nav-buttons{
		margin-left: auto;
		display: flex;
		gap: 10px;
		.button{
			margin: 0px;
			@extend .back-button;
		}
		.logout{
			background: white;
			color: black;
		}
	}
}
