@use 'Components';

.userPage{
	@extend .main-window;
	width: 80%;
	color: white;
	.value{
		font-size: 12px;
		color: #00FF00;
		margin: 0 5px 0 2px;
	}

	.header{
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		.userinfo{
			.username{
				color: #00FF00;
				font-size: 36px;
				margin-right: 80px;
			}
			.membersince{
				font-size: 12px;
			}

		}
		.flair{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			font-size: 12px;
		}
	}

	.titlebar{
		padding: 0px 10px;
		display: flex;
		.toggletitle{
			@extend .jollyfont;
			font-size: 24px;
		}
		.togglebuttons{
			display: flex;
			gap: 10px;
			margin-left: auto;
		}
		.games, .favorites{
			@extend .base-button;
			width: 75px;
			height: 24px;
			font-size: 14px;
			line-height: 24px;

			&:not(.checked){
				filter: brightness(0.5);
			}
		}

	}

	.games-scroll{
		height: 50vh;
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 14px;
		margin-right: 24px
	}

	.gamesholder{
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
		grid-gap: 10px;
		padding: 0px 44px 0px 14px;
    	width: 100%;
		margin: 10px 0 100px 0;
	}

	.nav-buttons{
		.back{
			margin: 0px;
			@extend .back-button;
		}
	}
}
