@use 'Components';

.winscreen{
	position: fixed;
	width:100%;
	top: 50%;
	left: 0;
	transform: translate(0, -42%);
    position: relative;

	.bar{
		background-image: url(../../static/assets/images/gui/BarWin.png);
		opacity: 0.6;
		width: 100%;
		height: 218px
	}

	.header{
		color: #51a327;
		font-family: "Lily Script One", cursive;
		font-size: 90px;
		width: 100vw;
		height: 112px;
		position: absolute;
		font-weight: 100;
		text-shadow: 2px 2px black, 2px -2px black, -2px -2px black, -2px 2px black, 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black, 3px 3px white, 3px -3px white, -3px -3px white, -3px 3px white, 3px 0px white, 0px 3px white, -3px 0px white, 0px -3px white;
		filter: drop-shadow(2px 4px 2px black);
		top: -16px;
		left: 206px;
		margin: -6px 6px;
		white-space: nowrap;
		filter: drop-shadow(2px 2px 2px black);
	}

	.sun{
		background-image: url(../../static/assets/images/gui/Sun_Big.png);
		width: 237px;
		height: 237px;
		position: absolute;
		top: -126px;
		margin: 10px;
	}
	.time{
		position: absolute;
		left: 20vw;
		top: 138px;
		font-size: 60px;
		display: flex;
		align-items: baseline;
		text-shadow: 2px 2px 2px black;

		.text-label{
			color: black;
			font-weight: 600;
			margin: 0 5px 0px 0px;
		}
		.text-time, .text-time-mili{
			color: #FFD409;
			font-weight: 400;
		}
		.text-time-mili{
			font-size: 30px;
		}
	}
	.voting{
		@extend .vote-buttons;

		flex-direction: column-reverse;
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 10px;
		& > div{
			margin-bottom: 10px !important;
		}
	}
	.buttons{
		display: flex;
		gap: 10px;
		padding: 10px;
		justify-content: flex-end;
		.reset, .retry, .exit, .test{
			max-width: 180px;
			margin: 0;
			width: 100%;
			@extend .back-button;
		}

		.retry{
			background-color: #51A328;
		}
		.exit, .test{
			background-color: red;
			font-size: 30px;
		}
		.test{
			display: none;
		}
	}

	&.editor{
		.voting{
			display: none;
		}
		.buttons{
			.reset, .retry, .exit{
				display: none;
			}
			.test{
				display: block;
			}
		}

	}
}

@media only screen and (max-width: 820px){
	.winscreen{
		transform: translate(0, -32%);
		.header{
			top: -134px;
			left: 12px;
		}
		.time{
			left: 50%;
			transform: translate(-50%, 0);
		}
		.buttons{
			max-width: 400px;
    		justify-content: center;
			flex-wrap: wrap;
			margin: auto;
		}
	}
}

@media only screen and (max-width: 440px){
	.winscreen{
		.time{
			font-size: 44px;
		}
		.buttons{
			.reset, .retry, .exit{
				max-width: 144px;
			}
			.exit{
				font-size: 24px;
			}
		}
	}
}
