h1, h2{
    text-shadow: 1.2px 2px #ccc;
}
h1 {
	font-size: 50px;
}
* {
	font-family: "Montserrat";
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: black;
}
html {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAA40lEQVRYhe2WwQ6DIAyG/4oaTbz5/s/oxZBIhO5g3DxsuE6GHPqdSGjIlzb8QMzMKJDqboFPqJgUFZOiYlLq2GYIAdbarbCu0XVdFingRMw5h3met8LMYtFRVtVru+/7v8scobMnyTkHAGjbNovQzqnYXRR7K1VMSrFi0RyTsK4rQggAAGMMjDGXzksm5r3HfsGJ6LJYslEew/iqFJAwx5j52bGj5K9owEpRMSkqJqVYsWTJ/y3TNGFZFgDAOI5omuZtXfaOee+f61iEZu/YMAyw1oKIot91TX4pKiZFxaQUK/YAGWpIaNSGNBMAAAAASUVORK5CYII=);
}
html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.scroll{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scrollbar-color: black transparent;
  	scrollbar-width: thin;
}
.section {
	margin: 10px;
}
.logo{
	margin: 44px auto;
	width: 360px;
	height: 100px;
	background-repeat: no-repeat;
	display: block;
}
a{
	text-decoration: none;
}
.back-button{
	height: 58px;
	border: 2px solid black;
	color: white;
	text-align: center;
	line-height: 38px;
	font-size: 30px;
	font-family: "Montserrat";
	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	margin: 10px auto;
	padding: 8px;
	background-color: #D70000;
}
.back-button:hover{
	filter:brightness(1.2);
}
.back-button:active{
	filter:brightness(0.5);
}
@font-face {
    font-family: "Montserrat";
	src: url("./Montserrat-VF.woff2");
	font-variation-settings: "wght" 600;
}
.bicycle {
	position: fixed;
	width: 82px;
	height: 82px;
	right: 7px;
	pointer-events: none;
	background-image: url("./verticalcycling.png");
	animation: step-frame steps(7) .6s infinite both;
	transition: transform 0.2s ease-in-out;
}
@keyframes step-frame {
	0% {
		background-position-y: 0%;
	}
	100% {
		background-position-y: 100%;
	}
}